<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2> Author: </h2>

    <p>
      <%= @params[:params][:name]%>
    </p>

    <h2> Category: </h2>

    <p>
      <%= @params[:params][:category]%>
    </p>

    <h2> Message: </h2>

    <p>
      <%= @params[:params][:message]%>
    </p>

    <h2> Topics </h2>

    <% if @params[:params][:hashtags].nil? %>
      <p>
        User did not select any topics.
      </p>
    <% else %>
      <p>
        <%= @params[:params][:hashtags].map!{|ht| t("shared.contact.hashtag.#{ht}", locale: :en)}.join(", ") %>
      </p>
    <% end %>



  </body>
</html>
