<div class="container">
   <!-- FIXME: make this translation its own field in the locale files. -->
   <h3 class="pt-5"><%= t('home.measurement_categories.recomendationsandinitiatives')%></h3>
   <div class="row">
      <% @measurements_categories.each do |category| %>
      <div class="col-12 col-md-6 col-lg-4 pt-5 text-center">
         <%= link_to measurements_path(:category_id => category.id) do %>
         <img src="<%= url_for(category.picture) if category.picture.attached? %>" class="img-fluid img-categories" width="60%" alt="<%= category.picture.filename if category.picture.attached? %>">
         <h4 class="pt-3"><%= category.name %></h4>
         <% end %>
      </div>
      <% end %>
   </div>
</div>
