<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin pt-5'})  do |f| %>
<div class="text-center mb-4 pt-5">
   <img class="mb-2" src="<%= asset_path('kosovo-logo-en.png') %>" alt="" width="72" height="72">
   <h1 class="h3 mb-3 font-weight-normal"><%= t('.sign_up')%></h1>
   <p><%= t('.enter')%> <code><%= t('.email')%></code> <%= t('.and')%> <code><%= t('.password')%></code> <%= t('.toregister')%></p>
</div>
<div class="field">
   <%= f.label :email %><br />
   <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "user_email" %>
</div>
<div class="field">
   <%= f.label :password %>
   <% if @minimum_password_length %>
   <em><%= @minimum_password_length %> <%= t('.characters')%></em>
   <% end %><br />
   <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "user_password" %>
</div>
<div class="field">
   <%= f.label :password_confirmation %><br />
   <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "user_password_confirmation" %>
</div>
<div class="actions pb-4 pt-2">
   <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block hvr-grow" %>
</div>
<%= render "devise/shared/links" %>
<% end %>
