<div class="position-relative overflow-hidden bg-light-hashtags pt-5">
   <div class="container">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-5">
         <h1 class="display-4 font-weight-normal align-left pt-5 pr-5 hvr-grow">
            <%= @actor.name %>
         </h1>
      </div>
   </div>
</div>

<div class="container">
  <h3 class="pt-5 pb-4 text-center"></h3>
  <%= render "shared/initiatives_table", initiatives: @initiatives %>
</div>
</div>

<!--<div class="container">-->
<!--   <div class="col-sm-12">-->
<!--      <h3 class="pt-5 pb-4 text-center"><%#= t('.stories') %></h3>-->
<!--      <div id="myBtnContainer" class="text-center pb-5">-->
<!--         <button class="btn active montserrat size-16 hvr-underline-from-center" onclick="filterSelection('all')">-->
         <%#= t('.all')%>
<!--         </button>-->
         <%# @categories.each do |category| %>
<!--         <button class="btn montserrat size-16 hvr-underline-from-center" onclick="filterSelection('<%#= category.title.parameterize %>')">-->
         <%#= category.title %>
<!--         </button>-->
         <%# end %>
<!--      </div>-->
<!--      <div class="masonry masonry-columns-3">-->
         <%# @stories.each do |story| %>
<!--         <div class="masonry-item hvr-grow js-initiatives filterDiv <%#= story.story_category.title.parameterize %>">-->
            <%# if story.picture.attached? %>
<!--            <img src="<%#= url_for(story.picture) %>" class="img-fluid center-block" alt="<%#= story.picture.filename %>">-->
            <%# end %>
<!--            <h2 class="post-title pt-3"><%#= story.title %></h2>-->
<!--            <h6 class="post-info"><%#= story.created_at %></h6>-->
<!--            <p><%#= story.summary %></p>-->
            <%#= link_to t('.more'), story_path(story), class: 'read-more' %>
<!--         </div>-->
         <%# end %>
<!--      </div>-->
<!--   </div>-->
<!--</div>-->
