@charset "utf-8";

@media only screen and (max-width: 1024px) {
	.hs-wrap {
    max-width: 480px;
		padding-top: 37px;
		padding-bottom: 43px;
    }
	.hs-line-2{
		font-size: 60px;
	  }
  .hs-line-8 {
    font-size: 20px;
    }
    .hs-line-9 {
    font-size: 71px;
    }
    .hs-line-10 {
    padding: 10px 14px;
    letter-spacing: 1px;
    }
    .hs-line-10 > span {
    margin: 0 1px;
    }
    .hs-line-11 {
    font-size: 24px;
    letter-spacing: 4px;
    }
    .hs-line-12{
    font-size: 70px;
    letter-spacing: 0.3em;
    }
    .page-section{
    padding: 120px 0;
    }
    .page-section, .home-section{
    background-attachment: scroll;
    }
}

/* ==============================
   Tablet Portrait
   ============================== */

@media only screen and (max-width: 768px) {

	.hs-wrap {
    max-width: 400px;
    }
	.hs-line-2{
		font-size: 50px;
	  }
    .hs-line-7 {
    font-size: 50px;
    }
	.page-section {
    padding: 70px 0;
    }
  .small-section {
    padding: 50px 0;
    }
  .small-title{
    font-size: 18px;
    }
}

@media only screen and (max-width: 767px) {

	.hs-wrap {
    max-width: 320px;
		padding-top: 27px;
		padding-bottom: 33px;
    }
    .hs-line-1 {
    font-size: 18px;
    }
	.hs-line-2{
		font-size: 36px;
	  }
	.hs-line-3 {
    font-size: 13px;
    }
	.hs-image{
		display: none;
	  }

    .hs-wrap-1 {
    max-width: 240px;
    }
    .hs-line-5 {
    font-size: 44px;
    letter-spacing: 0.28em;
    }
    .hs-line-6 {
    font-size: 16px;
    }
    .hs-line-7 {
    font-size: 32px;
    }
    .hs-line-8 {
    font-size: 16px;
    }
    .hs-line-9 {
    font-size: 48px;
    }
    .hs-line-10 {
    padding: 5px 8px;
    font-size: 11px;
    letter-spacing: 1px;
    }
    .hs-line-10 > span {
    margin: 0;
    }
    .hs-line-11 {
    font-size: 18px;
    letter-spacing: 2px;
    }
    .hs-line-12 {
    font-size: 44px;
    }
    .hs-line-13 {
    font-size: 60px;
    letter-spacing: 0.1em;
    }
}

/* ==============================
   Phone
   ============================== */

@media only screen and (max-width: 480px) {

	  .hs-line-2{
		font-size: 28px;
	  }
    .hs-line-6 {
    font-size: 15px;
    }
    .hs-line-7 {
    font-size: 28px;
    }
    .hs-line-9 {
    font-size: 42px;
    }
    .hs-line-12 {
    font-size: 32px;
    }
    .hs-line-13 {
    font-size: 30px;
    letter-spacing: 0.1em;
    }
	.page-section {
    padding: 50px 0;
    }
    .small-section {
    padding: 30px 0;
    }
}

/* ==============================
   IOS Background Fix
   ============================== */

.mobile .page-section, .mobile .home-section, .mobile .small-section{
    background-attachment: scroll;
}
