@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);

/* ==============================
   Common styles
   ============================== */

.align-center{ text-align:center !important; }
.align-left{ text-align:left !important;}
.align-right{ text-align:right !important; }
.left{float:left !important;}
.right{float:right !important;}
.relative{position:relative;}
.hidden{display:none;}
.inline-block{display:inline-block;}
.white{ color: #fff !important; }
.black{ color: #000 !important; }
.color{ color: #e41919 !important; }
.stick-fixed{
	position: fixed !important;
	top: 0;
	left: 0;
}

::-moz-selection{ color: #fff; background:#000; }
::-webkit-selection{ color: #fff;	background:#000; }
::selection{ color: #fff;	background:#000; }

.animate, .animate *{
	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}
.no-animate, .no-animate *{
	-webkit-transition: 0 none !important;
    -moz-transition: 0 none !important;
	 -ms-transition: 0 none !important;
    -o-transition: 0 none !important;
    transition:0 none !important;
}
.shadow{
    -webkit-box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
    box-shadow: 0px 3px 50px rgba(0, 0, 0, .15);
}
.white-shadow{
    -webkit-box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
    -moz-box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
    box-shadow: 0px 0px 200px rgba(255, 255, 255, .2);
}
.full-wrapper {
    margin: 0 2%;
}

html{
	overflow-y: scroll;
    -ms-overflow-style: scrollbar;
}
html, body{
	height: 100%;
	-webkit-font-smoothing: antialiased;
}
.page{
	overflow: hidden;
}

.body-masked{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #fff url(../images/loader.gif) no-repeat center center;
	z-index: 100000;
}
.mask-delay{
	-webkit-animation-delay: 0.75s;
	-moz-animation-delay: 0.75s;
	animation-delay: 0.75s;
}
.mask-speed{
	-webkit-animation-duration: 0.25s !important;
	-moz-animation-duration: 0.25s !important;
	animation-duration: 0.25s !important;
}
iframe{
    border: none;
}
a, b, div, ul, li{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-moz-outline-: none;
}
a:focus,
a:active{
	-moz-outline: none;
	outline: none;
}
img:not([draggable]), embed, object, video {
    max-width: 100%;
    height: auto;
}

/* ==============================
   Typography
   ============================== */

body{
	color: #000;
	font-size: 14px;
	font-family: Montserrat, arial, sans-serif;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

a{
	color: #e41919;
	text-decoration: none;
}
a:hover{
	color: #e41919;
	text-decoration: underline;
}

h1,h2,h3,h4,h5,h6{
	line-height: 1.4;
	font-weight: 700;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 28px;
}
p{
	margin: 0 0 1.5em 0;
}
ul, ol{
    margin: 0 0 1.5em 0;
}

dl dt{
	margin-bottom: 5px;
}
dl dd{
	margin-bottom: 15px;
}
pre{
	background-color: #f9f9f9;
	border-color: #ddd;
}

.uppercase{
	text-transform: uppercase;
	letter-spacing: 1px;
}
.normal{
	font-weight: normal;
}
.strong{
    font-weight: 700 !important;
}
.lead{
    margin: 1em 0 2em 0;
    font-size: 140%;
    line-height: 1.6;
}
.text{
	font-size: 16px;
	font-weight: 300;
	color: #5f5f5f;
	line-height: 1.8;
}
.text h1,
.text h2,
.text h3,
.text h4,
.text h5,
.text h6{
	color: #000;
}

.number{
    font-family: Montserrat, arial, sans-serif;
	font-weight: 400;
}
.wide-heading{
	display: block;
	margin-bottom: 10px;
	font-size: 48px;
	font-weight: 800;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	color: rgba(255,255,255, .87);

	-webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

/* ==============================
   Home sections
   ============================== */

.home-section{
	width: 100%;
	display: block;
	position: relative;
  overflow: hidden;
	background-repeat: no-repeat;
  background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.home-content{
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
}

/* Home content */

.home-content{
	position: relative;
}
.home-text{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

.hs-wrap{
	max-width: 570px;
	margin: 0 auto;
	padding: 47px 30px 53px;
	position: relative;
	text-align: center;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	border: 4px double rgba(255,255,255, .6);
}

.hs-wrap-1{
	max-width: 350px;
	margin: 0 auto;
	position: relative;
    text-align: center;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hs-image{
	position: absolute;
	bottom: -28px;
	right: -159px;
}

.hs-line-1 .serif,
.hs-line-2 .serif,
.hs-line-3 .serif,
.hs-line-4 .serif,
.hs-line-5 .serif,
.hs-line-6 .serif,
.hs-line-7 .serif,
.hs-line-8 .serif,
.hs-line-9 .serif,
.hs-line-10 .serif,
.hs-line-11 .serif,
.hs-line-12 .serif,
.hs-line-13 .serif,
.hs-line-14 .serif,
.hs-line-15 .serif{
    font-family: "Libre Baskerville", "Times New Roman", Times, serif;
	font-style: italic;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
}

.hs-line-1{
	position: relative;
	font-size: 24px;
	letter-spacing: 2px;
	color: rgba(255,255,255, .8);
}
.hs-line-2{
	position: relative;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.085em;
	line-height: 1.3;
	color: rgba(255,255,255, .85);
}
.hs-line-3{
	position: relative;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
  background-color: black;

}

.hs-line-4{
    position: relative;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: rgba(255,255,255, .85);
}
.hs-line-5{
    position: relative;
	font-size: 62px;
	font-weight: 800;
    line-height: 0.65;
	text-transform: uppercase;
	letter-spacing: 0.32em;
	color: rgba(255,255,255, .85);
}
.hs-line-6{
    position: relative;
	font-size: 24px;
	font-weight: 400;
    line-height: 1.2;
}
.hs-line-7{
    position: relative;
	font-size: 64px;
	font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
}
.hs-line-8{
    position: relative;
	font-size: 28px;
	font-weight: 400;
    line-height: 1.2;
}
.hs-line-8 strong{
    font-weight: 800;
}
.hs-line-9{
    position: relative;
	font-size: 96px;
	font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
}
.hs-line-10{
    display: inline-block;
    position: relative;
    padding: 15px 24px;
    background: rgba(0,0,0, .75);
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: rgba(255,255,255, .85);
}
.hs-line-10 > span{
    margin: 0 10px;
}
.hs-line-10.highlight{
    background: #e41919;
    opacity: .65;
}
.hs-line-10.transparent{
    background: none;
    color: #aaa;
    padding: 0;
}
.hs-line-11{
    position: relative;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 8px;
    line-height: 1.8;
}
.hs-line-12{
    position: relative;
	font-size: 96px;
	font-weight: 800;
    line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.34em;
}
.hs-line-13{
    position: relative;
	font-size: 96px;
	font-weight: 800;
    line-height: 1;
	text-transform: uppercase;
	letter-spacing: 0.195em;
}

/* ==============================
   Sections styles
   ============================== */

.page-section,
.small-section{
	width: 100%;
	display: block;
	position: relative;
    overflow: hidden;
    background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	padding: 140px 0;
}
.small-section{
	padding: 70px 0;
}
.small-title{
    padding: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-size: 24px;
}

.bg-dark,
.bg-dark-lighter,
.bg-dark-alfa-30,
.bg-dark-alfa-50,
.bg-dark-alfa-70,
.bg-dark-alfa-90,
.bg-dark-alfa,
.bg-color,
.bg-color-lighter,
.bg-color-alfa-30,
.bg-color-alfa-50,
.bg-color-alfa-70,
.bg-color-alfa-90,
.bg-color-alfa{
	color: #fff;
}
.bg-dark a,
.bg-dark-lighter a,
.bg-dark-alfa-30 a,
.bg-dark-alfa-50 a,
.bg-dark-alfa-70 a,
.bg-dark-alfa-90 a,
.bg-dark-alfa a,
.bg-color a,
.bg-colorlighter a,
.bg-color-alfa-30 a,
.bg-color-alfa-50 a,
.bg-color-alfa-70 a,
.bg-color-alfa-90 a,
.bg-color-alfa a{
	color: rgba(255,255,255, .8);
    padding-bottom: 3px;

    -webkit-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.bg-dark a:hover,
.bg-dark-lighter a:hover,
.bg-dark-alfa-30 a:hover,
.bg-dark-alfa-50 a:hover,
.bg-dark-alfa-70 a:hover,
.bg-dark-alfa-90 a:hover,
.bg-dark-alfa a:hover,
.bg-color a:hover,
.bg-color-lighter a:hover,
.bg-color-alfa-30 a:hover,
.bg-color-alfa-50 a:hover,
.bg-color-alfa-70 a:hover,
.bg-color-alfa-90 a:hover,
.bg-color-alfa a:hover{
	color: rgba(255,255,255, 1);
    text-decoration: none;
}


.bg-dark{
	background-color: #222;
}
.bg-dark-lighter{
	background-color: #252525;
}
.bg-dark-alfa:before,
.bg-dark-alfa .YTPOverlay:before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(17,17,17, .97);
}
.bg-dark-alfa-30:before,
.bg-dark-alfa-30 .YTPOverlay:before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,34,34, .3);
}
.bg-dark-alfa-50:before,
.bg-dark-alfa-50 .YTPOverlay:before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(34,34,34, .5);
}
.bg-dark-alfa-70:before,
.bg-dark-alfa-70 .YTPOverlay:before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(17,17,17, .7);
}
.bg-dark-alfa-90:before,
.bg-dark-alfa-90 .YTPOverlay:before{
	content: " ";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(17,17,17, .9);
}

.section-title{
	margin-bottom: 15px;
	font-size: 35px;
	font-weight: 800;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	line-height: 1.3;
}

.section-heading{
	margin: 0;
	padding: 0;
	font-family: "Libre Baskerville", "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	line-height: 1.3;
	color: #555;
}

.section-text{
	font-size: 17px;
	font-weight: 300;
	text-align: center;
	color: #888;
	line-height: 1.8;
}

.fixed-height-large,
.fixed-height-medium,
.fixed-height-small{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fixed-height-large{
    min-height: 800px;
}
.fixed-height-medium{
    min-height: 700px;
}
.fixed-height-small{
    min-height: 600px;
}
