<!-- <h2>Resend unlock instructions</h2>

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> -->

<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form-signin pt-5' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="text-center mb-4 pt-5">
   <img class="mb-2" src="<%= asset_path('kosovo-logo-en.png') %>" alt="" width="72" height="72">
   <h1 class="h3 mb-3 font-weight-normal"><%= t('.resend')%></h1>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "user_email" %>
</div>

<div class="actions pb-4 pt-2">
  <%= f.submit "Resend unlock instructions", class: "btn btn-lg btn-primary btn-block hvr-grow" %>
</div>

<%= render "devise/shared/links" %>
<% end %>
