<%= stylesheet_link_tag '/css/monthly.css' %>
<h1 class="text-center mb-5"><%= t('.title')%></h1>
<div style="width:100%; display:inline-block; font-size: 11px;">
  <div class="monthly" id="mycalendar"></div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#mycalendar').monthly({
      mode: 'event',
      //jsonUrl: 'events.json',
      //dataType: 'json'
      xmlUrl: 'events.xml'
    });
  });
</script>