<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('language_name') %>
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-turbolinks="false">
    <%= link_to t('language_name', locale: :en), request.params.merge(locale: :en), class: 'dropdown-item' %>
    <%= link_to t('language_name', locale: :sq), request.params.merge(locale: :sq), class: 'dropdown-item' %>
    <%= link_to t('language_name', locale: :sr), request.params.merge(locale: :sr), class: 'dropdown-item'  %>
  </div>
</li>
