<div class="container pt-5 pb-2">
   <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="text-center mb-5"><%= t('home.contribute_all.latest_tweets') %></h1>
        <a class="twitter-timeline" data-height="450" href="https://twitter.com/trustbuildingks/lists/kosovo-trust-building?ref_src=twsrc%5Etfw">A Twitter List by trustbuildingks</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>      </div>
      <div class="col-12 col-md-6">
        <%= render 'shared/calendar' %>
      </div>
   </div>
</div>
