<div class="container">
   <div class="row">
     <div class="col-1 col-md-1"></div>
      <div class="col-10 col-md-10">
         <h1 class="pt-5 pb-3 align-center"><%= t('.title')%></h1>
         <%= form_with url: contact_path, method: :post, id: :custom_id, class: :custom_class  do |form| %>
            <div class="row">
               <div class="col">
                  <label for="nameInput"><%= t('.name')%></label>
                  <!-- <input type="text" class="form-control  hvr-grow" id="nameInput" placeholder="<%= t('.name')%>"> -->
                  <%= form.text_field :name, class: 'form-control  hvr-grow', placeholder: t('.name'), id: "nameInput"  %>
               </div>
               <div class="col">
                  <label for="emailInput"><%= t('.email')%></label>
                  <!-- <input type="text" class="form-control  hvr-grow" id="emailInput" placeholder="<%= t('.email')%>"> -->
                  <%= form.text_field :email, class: 'form-control  hvr-grow', placeholder: t('.email'), id: "emailInput"  %>
               </div>
            </div>
            <div class="row pt-3">
              <div class="col">
                <label for="emailInput"><%= t('.organization')%></label>
                <!-- <input type="text" class="form-control  hvr-grow" id="organizationInput" placeholder="<%= t('.organization')%>"> -->
                <%= form.text_field :organization, class: 'form-control  hvr-grow', placeholder: t('.organization'), id: "organizationInput"  %>
              </div>
            </div>
           <div class="form-group pt-3">
              <label for="contributionSelection"><%= t('.contribute')%></label>
              <select id="contributionSelection" class="custom-select hvr-grow">
                 <option><%= t('.tellus')%></option>
                 <option><%= t('.action')%></option>
                 <option><%= t('.report')%></option>
                 <option><%= t('.donate')%></option>
              </select>
           </div>
            <div class="row category-list-contact pb-3">
               <div class="col">
                  <label for="categorySelection"><%= t('.category')%></label>
                  <div><%= form.collection_select(:category, MeasurementCategory.all, :name, :name, {:selected => cookies[:last_seen_category]}, {class: "custom-select", id: "categorySelection"} ) %></div>
               </div>
               <div class="col">
                  <label for="hashtags"><%= t('.subject')%></label><br>
                  <select class="custom-select pl-0 pr-5" id="hashtags" name="hashtags[]" multiple>
                    <option value="central_govt"><%=t('.hashtag.central_govt')%></option>
                    <option value="local_govt"><%=t('.hashtag.local_govt')%></option>
                    <option value="cso"><%=t('.hashtag.cso')%></option>
                    <option value="media"><%=t('.hashtag.media')%></option>
                    <option value="international_organizations"><%=t('.hashtag.international_organizations')%></option>
                    <option value="gender"><%=t('.hashtag.gender')%></option>
                    <option value="education"><%=t('.hashtag.education')%></option>
                    <option value="religion"><%=t('.hashtag.religion')%></option>
                    <option value="justice"><%=t('.hashtag.justice')%></option>
                    <option value="youth"><%=t('.hashtag.youth')%></option>
                    <option value="language"><%=t('.hashtag.language')%></option>
                    <option value="transparency"><%=t('.hashtag.transparency')%></option>
                    <option value="culture"><%=t('.hashtag.culture')%></option>
                    <option value="economy"><%=t('.hashtag.economy')%></option>
                    <option value="environment"><%=t('.hashtag.environment')%></option>
                  </select>
               </div>
            </div>
            <div class="form-group">
               <label for="messageInput"><%= t('.message')%></label>
               <!-- <textarea class="form-control  hvr-grow" id="messageInput" rows="3"></textarea> -->
               <%= text_area_tag(:message, "",{ size: "24x3", class: "form-control hvr-grow"})%>
            </div>
            <!-- <button type="button" class="btn btn-primary btn-lg hvr-grow"><%= t('.submit')%></button> -->
          <div class="pb-3"><%= recaptcha_tags %></div>
           <%= form.submit t('.submit'), :class=> 'btn btn-primary btn-lg hvr-grow', :remote => true %>
         <% end %>
      </div>
     <div class="col-1 col-md-1"></div>
   </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
   $('#hashtags').multiselect({
      nonSelectedText: I18n.t("shared.contact.select_hashtags")
   });
});
</script>
