<div id="counters" class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <a style="color: #212B36 !important;" href="/<%= I18n.locale %>/recommendations">
        <h3 class="mb-5"><%= t('home.counters.recommendations') %></h3>
        <div id="recommendationcircle">
          <div class="number" style="font-weight: normal;"><span id="count"><%= @recommendations_count %></span></div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <a style="color: #212B36 !important;" href="/<%= I18n.locale %>/resources">
        <h3 class="mb-5"><%= t('home.counters.initiatives') %></h3>
        <div id="initiativecircle">
          <div class="number" style="font-weight: normal;"><span id="count1"><%= @initiatives_count %></span></div>
        </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <a style="color: #212B36 !important;" href="/<%= I18n.locale %>/resources">
        <h3 class="mb-5"><%= t('home.counters.actors') %></h3>
        <div id="actorcircle">
          <div class="number" style="font-weight: normal;"><span id="count2"><%= @actors_count %></span></div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <a style="color: #212B36 !important;" href="/<%= I18n.locale %>/stories?category_id=4">
        <h3 class="mb-5"><%= t('home.counters.champions') %></h3>
        <div id="championcircle">
          <div class="number" style="font-weight: normal;"><span id="count3"><%= @champions_count ||= 1 %></span></div>
        </div>
      </a>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.addEventListener('popstate', () => {
    location.reload();
  }, false);
</script>

<script type="text/javascript">
  // progressbar.js@1.0.0 version is used
  // Docs: http://progressbarjs.readthedocs.org/en/1.0.0/
  var fired = 0;
  $(document).on('turbolinks:load', function() {
    x = document.getElementById("count");
    x1 = document.getElementById("count1");
    x2 = document.getElementById("count2");
    x3 = document.getElementById("count3");
    x.style.display = "none";
    x1.style.display = "none";
    x2.style.display = "none";
    x3.style.display = "none";
  });

  $(window).scroll(function() {
    var hT = $('#counters').offset().top,
      hH = $('#counters').outerHeight(),
      wH = $(window).height(),
      wS = $(this).scrollTop();

    if ((wS > (hT+hH-wH) && (hT > wS) && (wS+wH > hT+hH) && fired == 0) || ($(window).width() < 993) && fired == 0) {
      x.style.display = "block";
      x1.style.display = "block";
      x2.style.display = "block";
      x3.style.display = "block";
      var bar = new ProgressBar.Circle(recommendationcircle, {
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        duration: 2000,
        easing: 'bounce',
        strokeWidth: 6,
        from: {color: '#FFEA82', a:0},
        to: {color: '#FE466C', a:1},
        // Set default step function for all animate calls
        step: function(state, circle) {
          circle.path.setAttribute('stroke', state.color);
        }
      });

      bar.animate(1.0);

      var bar1 = new ProgressBar.Circle(initiativecircle, {
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        duration: 2500,
        easing: 'bounce',
        strokeWidth: 6,
        from: {color: '#FFEA82', a:0},
        to: {color: '#866AFB', a:1},
        // Set default step function for all animate calls
        step: function(state, circle) {
          circle.path.setAttribute('stroke', state.color);
        }
      });

      bar1.animate(1.0);

      var bar2 = new ProgressBar.Circle(actorcircle, {
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        duration: 3000,
        easing: 'bounce',
        strokeWidth: 6,
        from: {color: '#FFEA82', a:0},
        to: {color: '#F6CD00', a:1},
        // Set default step function for all animate calls
        step: function(state, circle) {
          circle.path.setAttribute('stroke', state.color);
        }
      });

      bar2.animate(1.0);

      var bar3 = new ProgressBar.Circle(championcircle, {
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        duration: 3500,
        easing: 'bounce',
        strokeWidth: 6,
        from: {color: '#FFEA82', a:0},
        to: {color: '#06CBAD', a:1},
        // Set default step function for all animate calls
        step: function(state, circle) {
          circle.path.setAttribute('stroke', state.color);
        }
      });

      bar3.animate(1.0);

      $('#count').each(function () {
        $(this).prop('Counter',0).animate({
          Counter: $(this).text()
        }, {
          duration: 3000,
          easing: 'swing',
          step: function (now) {
            $(this).text(Math.ceil(now));
          }
        });
      });

      $('#count1').each(function () {
        $(this).prop('Counter',0).animate({
          Counter: $(this).text()
        }, {
          duration: 3000,
          easing: 'swing',
          step: function (now) {
            $(this).text(Math.ceil(now));
          }
        });
      });

      $('#count2').each(function () {
        $(this).prop('Counter',0).animate({
          Counter: $(this).text()
        }, {
          duration: 3000,
          easing: 'swing',
          step: function (now) {
            $(this).text(Math.ceil(now));
          }
        });
      });

      $('#count3').each(function () {
        $(this).prop('Counter',0).animate({
          Counter: $(this).text()
        }, {
          duration: 3000,
          easing: 'swing',
          step: function (now) {
            $(this).text(Math.ceil(now));
          }
        });
      });

      fired = 1;
    }
  });
</script>