<footer class="footer-distributed">
   <div class="container">
     <%= render 'shared/links' %>
     <div class="row">
       <div class="col-sm">
<!--           <a href="https://fjalor-recnik.com"><img src="<%#= asset_path("logo-fjalor-recnik.png") %>" class="d-inline-block align-top" alt="<%#= t('.logo_description')%>"></a>-->
       </div>
       <div class="col-sm">
         <a href="https://kosovotrustbuilding.com/"><img src="<%= asset_path("kosovo-logo-footer-#{I18n.locale}.png") %>" class="d-inline-block align-top" alt="<%= t('.logo_description')%>"></a>
       </div>
       <div class="col-sm">
<!--           <a href="https://www.voc-up.com"><img src="<%#= asset_path("logo-voc-up.png") %>" class="d-inline-block align-top" alt="<%#= t('.logo_description')%>"></a>-->
       </div>
     </div>
   </div>

   <div class="row disclaimer-footer">
      <div class="col-6 col-md pb-1"><%= t('.disclaimers.first') %></div>
      <div class="col-6 col-md pb-1"><%= t('.disclaimers.second') %></div>
      <div class="col-6 col-md pb-1"><%= t('.disclaimers.third') %></div>
      <div class="col-6 col-md pb-1"><%= t('.disclaimers.fourth') %></div>
      <div class="col-6 col-md pb-1"><%= t('.disclaimers.fifth') %></div>
      <div class="col-6 col-md pb-1"><%= t('.disclaimers.sixth') %></div>
      <div class="col-6 col-md pb-1"><%= t('.disclaimers.seventh') %></div>
   </div>


   <div class="container">
     <div class="row">
       <div class="col-sm">

       </div>
       <div class="col-sm footer-icons">
         <a href="https://www.facebook.com/newsocialinitiative" target="_blank" aria-label="<%= t('.link_label.fb')%>"><i class="fab fa-facebook-f hvr-grow"></i></a>
           <a href="https://twitter.com/NSIMitrovica" target="_blank" aria-label="<%= t('.link_label.tw')%>"><i class="fab fa-twitter hvr-grow"></i></a>
           <a href="https://www.instagram.com/newsocialinitiative.nsi" target="_blank" aria-label="<%= t('.link_label.ig')%>"><i class="fab fa-instagram hvr-grow"></i></a>
       </div>
       <div class="col-sm">

       </div>

     </div>
   </div>
<!--
   <div class="footer-left">
   </div>
   <div class="footer-center">
   </div>
   <div class="footer-right">
     <div class="footer-icons">
          <a href="https://www.facebook.com/newsocialinitiative" aria-label="<%= t('.link_label.fb')%>"><i class="fab fa-facebook-f hvr-grow"></i></a>
            <a href="https://twitter.com/NSIMitrovica" aria-label="<%= t('.link_label.tw')%>"><i class="fab fa-twitter hvr-grow"></i></a>
            <a href="https://www.instagram.com/newsocialinitiative.nsi" aria-label="<%= t('.link_label.ig')%>"><i class="fab fa-instagram hvr-grow"></i></a>
         </div>
   </div> -->
  <%= javascript_include_tag '/js/monthly.js' %>
  <%= javascript_include_tag '/js/progressbar.js' %>
</footer>
