<div class="container">
   <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-white">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="<%= t('.toggle_navigation')%>">
         <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand hvr-grow" href=<%=root_path %> >
         <img src="<%= asset_path('kosovo-logo-en.svg') %>" height="30" class="d-inline-block align-center" alt="<%= t('.logo_description')%>"><%= t('home.index.title') %>
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
         <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item hvr-underline-from-center"><%= link_to t('navbar.about'), about_index_path, class:'nav-link' %>
            </li>
            <li class="nav-item hvr-underline-from-center"><%= link_to t('navbar.start'), start_path, class:'nav-link' %>
            </li>
           <li class="nav-item hvr-underline-from-center"><%= link_to t('navbar.recommendations'), recommendations_path, class:'nav-link' %>
            <li class="nav-item hvr-underline-from-center"><%= link_to t('navbar.stories'), stories_path, class:'nav-link' %>
            </li>
            <li class="nav-item hvr-underline-from-center"><%= link_to t('navbar.gallery'), 'https://www.flickr.com/photos/185701275@N02/albums', class:'nav-link', target: 'blank' %></li>
           <li class="nav-item hvr-underline-from-center"><%= link_to t('navbar.resources'), "/#{I18n.locale}/resources", class:'nav-link' %></li>
            <li class="nav-item hvr-underline-from-center"><%= render 'shared/change_locale' %>
            </li>
         </ul>
         <%= render 'shared/meta_search' %>
      </div>
   </nav>
</div>
