<div class="row pt-4 pb-5">
<div class="col-sm-12">
   <div class="table-wrapper table-responsive-xl pt-3 pb-0">
      <div class="table-title">
         <div class="row">
            <fieldset class="col-sm-12 align-right btn-group">
               <legend><%= t('.initiative_status')%></legend>
                  <label class="btn btn-random hvr-grow">
                     <input type="radio" name="status" value="all" checked="checked">  <%=t('.all')%>
                  </label>
               <% InitiativeStatus.all.each do |is| %>
                  <label class="btn btn-initiative-status hvr-grow" style="background-color: #<%= is.color %>">
                     <input type="radio" name="status" value="<%=is.status.parameterize%>"> <%= is.status %>
                  </label>
               <% end %>
            </fieldset>
         </div>
      </div>
      <table id="initiatives-table" class="table table-striped table-hover font-table">
         <thead>
            <tr>
               <th>#</th>
               <th><%= t('.initiative')%></th>
               <th><%= t('.status')%></th>
               <th><%= t('.start')%></th>
               <th><%= t('.end')%></th>
               <th><%= t('.actors')%></th>
               <% if @measurement.nil? %>
               <th><%= t('.recommendation')%></th>
               <% end %>
               <th><%= t('.cluster') %></th>
            </tr>
         </thead>
         <tbody>
            <% initiatives.each_with_index do |initiative, index| %>
            <tr data-status="<%=initiative.initiative_status.status.parameterize%>">
               <td> <%= index+1 %> </td>
               <td class="hoverino" data-toggle="modal" data-target="#initiative<%=initiative.id%>Modal"> <%= initiative.title %> </td>
               <td><span class="badge badge-initiative-status" style="background-color:#<%=initiative.initiative_status.color%>"><%= initiative.initiative_status.status %></span></td>
               <td> <%= initiative.start_date %> </td>
               <td> <%= initiative.end_date %> </td>
               <td>
                 <% initiative.actors.each do |actor| %>
                    <%= link_to (actor.name), actor_path(actor) %>
                 <% end %>
               </td>
               <% if @measurement.nil? %>
                <% measurements = Measurement.where(id: Initiative.where(title: initiative.title).pluck(:measurement_id)) %>
               <td>
                 <% measurements.each do |measurement| %>
                   <div style="margin-bottom: 5px;"><%= link_to measurement.title.truncate(150), measurement_path(measurement) %></div>
                 <% end %>
               </td>
               <% end %>
               <td>
                 <% initiative.tags.select { |t| ['LANGUAGE', 'YOUTH', 'HUMAN RIGHTS', 'GENDER EQUALITY'].include?(t.name) }.each do |tag| %>
                   <%= link_to measurements_search_all_path(search: tag.name) do %>
                    #<%= tag.name %>
                   <% end %>
                 <% end %>
               </td>
            </tr>
            <div class="modal fade" id="initiative<%=initiative.id%>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel"><%= initiative.title %></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <% if !initiative.description.nil? %>
                        <%= markdown initiative.description %>
                        <% end %>
                        <% if !initiative.areas.empty? %>
                        <p><i class="fas fa-map-marked-alt"></i>
                          <% initiative.areas.each do |a| %>
                            <%= link_to a.name, by_location_measurements_path(area_id: a.id), target: 'blank' %>
                          <% end %>
                        </p>
                        <% end %>
                        <i>
                           <% initiative.tags.each do |tag| %>
                              <%= link_to '#' + tag.name, measurements_search_all_path(search: tag.name), target: 'blank' %>
                           <% end %>
                        </i>
                     </div>
                     <div class="modal-footer">
                        <% if !initiative.link.blank? %>
                        <p class="pt-2"><a href="<%= initiative.link %>" target="_blank"><i class="fas fa-link "></i> <%= t('.link')%>: <%= initiative.link %></a></p>
                        <% end %>
                        <%= link_to t('.contribute'), about_index_path(anchor: 'how-can-i-contribute'), :target => '_blank', class: "btn btn-primary hvr-grow color-white"%>
                     </div>
                  </div>
               </div>
            </div>
            <% end %>
         </tbody>
      </table>
   </div>
</div>
