<div class="text-center pb-5">
  <a href="http://radiokfor.com/" target="_blank" style="margin-right: 20px; margin-bottom: 20px; display: inline-block;"><img class="img-responsive" src="<%= asset_path('k4.png') %>" alt="" height="100"/></a>
  <a href="https://fjalor-recnik.com/" target="_blank" style="margin-right: 20px; margin-bottom: 20px; display: inline-block;"><img class="img-responsive" src="<%= asset_path('recnik-fjalor.png') %>" alt="" height="100"/></a>
  <a href="https://www.voc-up.com/" target="_blank" style="margin-right: 20px; margin-bottom: 20px; display: inline-block;"><img class="img-responsive" src="<%= asset_path('vocup.png') %>" alt="" height="100"/></a>
  <a href="http://unkt.org/2020/01/01/un75/" target="_blank"><img class="img-responsive" src="<%= asset_path('un75.jpg') %>" alt="" height="100"/></a>
</div>