<%= form_tag(measurements_search_all_path, :class => 'form-inline  my-2 my-lg-0 hvr-grow', method: :get) do %>
   <div class="input-group">
      <%= text_field_tag :search, params[:search], placeholder: t('navbar.search'), :class => 'form-control', 'aria-label': t('.search_for')%>
      <div class="input-group-append">
         <button class="btn btn-primary-search" type="submit" aria-label="<%=t('.start_search')%>">
         <i class="fa fa-search"></i>
         </button>
      </div>
   </div>
<% end %>
