<div class="position-relative overflow-hidden pt-5">
   <div class="container">
      <div class="col-xl-12 col-lg-12 col-md-4 col-sm-12 pt-5 pb-5">
         <h1 class="font-weight-normal align-center pt-5">
            <i><%= @search_params %></i>
         </h1>
      </div>
   </div>
</div>
<% if ['LANGUAGE', 'YOUTH', 'HUMAN RIGHTS', 'GENDER EQUALITY'].include?(params[:search]) %>
  <div class="container">
    <div class="row">
      <div id="js-theme-id" visible="false" data-id=<%= params[:search] %>></div>
      <div id="js-for-theme" visible="false" data-id=true></div>
      <div class="col-md-12 text-center pt-5">
        <!--  Map with initiatives -->
        <div class="hvr-grow" id="map"> </div>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyzOTCNZorbekjfuUuu6Sa3G3B2mJMTE0&callback=initMap&language=<%=I18n.locale%>" async defer></script>
      </div>
    </div>
  </div>
<% end %>

<% if results.count == 0 %>
  <div class="container pt-5">
     <div id="notice"> <%= t('.not-found')%> </div>
  </div>
<% else %>

  <% if @initiatives.count > 0 %>
    <div class="container">
      <%= render "shared/initiatives_table", initiatives: @initiatives %>
    </div>
  <% end %>

  <% if @stories.count > 0 %>
    <div class="container">
       <div class="col-sm-12">
          <h2 class="pt-5 pb-4 text-center"><%= t('.yourstories') %></h2>
          <div id="myBtnContainer" class="text-center pb-5">
             <button class="btn active montserrat size-16 hvr-underline-from-center" onclick="filterSelection('all')">
             <%= t('.all')%>
             </button>
             <% StoryCategory.all.each do |category| %>
               <button class="btn montserrat size-16 hvr-underline-from-center" onclick="filterSelection('<%= category.title.parameterize %>')">
               <%= category.title %>
               </button>
             <% end %>
          </div>
          <div class="masonry masonry-columns-3">
             <% @stories.each do |story| %>
             <div class="masonry-item hvr-grow js-initiatives filterDiv <%= story.story_category.title.parameterize %>">
                <% if story.picture.attached? %>
                <a href="<%= story_path(story) %>"><img src="<%= url_for(story.picture) %>" class="img-fluid center-block" alt="<%= story.picture.filename %>"></a>
                <% end %>
                <h3 class="post-title pt-3"><%= link_to story.title, story_path(story) %></h3>
                <p class="post-info"><%= story.created_at %></p>
                <p><%= story.summary %></p>
                <%= link_to t('.read-more'), story_path(story), class: 'read-more' %>
             </div>
             <% end %>
          </div>
       </div>
    </div>
  <% end %>

  <% if @measurements.count > 0 %>
  <div class="container">
     <h3 class="pb-4 text-center"><%= t('.recommendations')%></h3>
     <div class="card-columns">
        <% @measurements.each_with_index do |measurement, index| %>
        <div class="card">
           <div class="card-body">
              <h4 class="card-title hvr-grow"> <%= link_to ((index+1).to_s + '. ' +measurement.title), measurement_path(measurement) %></h4>
              <p class="card-text montserrat"><%= t('.initiatives', count: measurement.initiatives.count)%>
                 <% if measurement.has_fulfillment %>
              </p>
              <!-- PROGRESS BAR -->
              <div class="progress">
                 <div class="progress-bar" role="progressbar" style="width: <%= measurement.fulfillment %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= measurement.fulfillment.round %>%</div>
                 <div class="progress-bar color-grey" role="progressbar" style="width: <%= 10 - measurement.fulfillment %>;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <!-- END PROGRESS BAR -->
              <div class="row">
                 <!-- PROGRESS AND READ MORE BUTTON -->
                 <div class="col-6 pt-2">
                    <p class="overview-tag hvr-underline-from-center" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= t('.progress')%></p>
                 </div>
                 <div class="col-6 pt-2">
                    <p class="overview-tag color-link-3 align-right" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= t('.read-more')%></p>
                 </div>
                 <!-- END PROGRESS AND READ MORE BUTTON -->
                 <!-- MODAL -->
                 <div class="modal fade" id="modal<%=measurement.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                       <div class="modal-content">
                          <div class="modal-header">
                             <h5 class="modal-title" id="exampleModalLabel"><%= measurement.title %></h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                             <span aria-hidden="true">&times;</span>
                             </button>
                          </div>
                          <div class="modal-body">
                             <% if !measurement.description.nil? %>
                                 <h5><i class="fas fa-bookmark"></i> <%= t('.description')%> </h5> <%= markdown measurement.description %>
                             <% else %>
                                <%= t('.no-description')%>
                             <% end %>
                             <% if !measurement.summary.nil? %>
                            <h5><i class="fas fa-bookmark"></i> <%= t('.summary')%> <%= measurement.summary %></h5>
                             <% else %>
                             <h5><%= t('.no-summary')%></h5>
                             <% end %>
                          </div>

                          <div class="modal-footer">
                             <button type="button" class="btn btn-secondary hrv-grow" data-dismiss="modal"><%= t('.close')%></button>
                             <%= link_to t('.contribute'), about_index_path(anchor: 'how-can-i-contribute'), class: "btn btn-primary hvr-grow color-white"%>
                          </div>
                       </div>
                    </div>
                 </div>
                 <!-- END MODAL -->
              </div>
              <% elsif !measurement.description.nil? %>
              <p class="overview-tag" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= t('.read-more')%></p>
              <!-- MODAL -->
              <div class="modal fade" id="modal<%=measurement.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                 <div class="modal-dialog" role="document">
                    <div class="modal-content">
                       <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"><%= measurement.title %></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                          <span aria-hidden="true">&times;</span>
                          </button>
                       </div>

                       <div class="modal-body">
                          <% if !measurement.description.nil? %>
                           <h5><i class="fas fa-bookmark"></i> <%= t('.description')%> <%= markdown measurement.description %> </h5>
                          <% else %>
                          <%= t('.no-description')%>
                          <% end %>
                          <% if !measurement.summary.nil? %>
                         <h5><i class="fas fa-bookmark"></i> <%= t('.summary')%> <%= measurement.summary %></h5>
                          <% else %>
                          <h5><%= t('.no-summary')%></h5>
                          <% end %>
                       </div>


                       <div class="modal-footer">
                          <button type="button" class="btn btn-secondary hvr-grow" data-dismiss="modal"><%=t('modal.close')%></button>
                          <%= link_to t('.contribute'), about_index_path(anchor: 'how-can-i-contribute'), class: "btn btn-primary color-white hvr-grow"%>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- END MODAL -->
              <% end %>
              <p class="card-text montserrat"><small class="text-muted"><%= measurement.measurement_category.name %></small></p>
           </div>
        </div>
        <% end %>
     </div>
  </div>
  <% end %>
</div>


<% end %>
