<% if initiatives.count == 0 %>
  <div class="container">
     <div id="notice"> <%= t('.not-found')%> </div>
  </div>
<% else %>
  <div class="container">
     <div id="notice"> 
     <%= t('.found', count: initiatives.uniq { |i| i[:title] }.count) %>
     </div>
     <%= render "shared/initiatives_table", initiatives: initiatives.uniq { |i| i[:title] } %>
  </div>
<% end %>


<script type="text/javascript">
  $(".btn-group .btn").click(function(){
    var inputValue = $(this).find("input").val();
    if(inputValue != 'all'){
      var target = $('table tr[data-status="' + inputValue + '"]');
      $("table tbody tr").not(target).hide();
      target.fadeIn();
    } else {
      $("table tbody tr").fadeIn();
    }
  });
</script>
