<div class="position-relative overflow-hidden pb-5">
   <div class="container">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5 pb-5">
         <h1 class="display-4 font-weight-normal align-center pt-5"><%= t('.title')%></h1>
         <%= form_tag({controller: "measurements", action: "search"}, method: "post", remote: true) do %>
         <div class="row pt-3">
            <div class="col input-group">
               <%= collection_select(:query, :area, Area.all.sort_by{ |e| ActiveSupport::Inflector.transliterate(e.name.downcase) }, :id, :name, {include_blank: t('.where')}, {class: "custom-select", 'aria-label': t('.label.area')} ) %>
            </div>
            <div class="col input-group">
               <%= collection_select(:query, :category, MeasurementCategory.all.sort_by { |a| a.name  }, :id, :name, {include_blank: t('.category')}, {class: "custom-select", 'aria-label': t('.label.category')}  ) %>
            </div>
            <div class="col input-group">
               <%= collection_select(:query, :initiative_status, InitiativeStatus.all.sort_by { |a| a.name  }, :id, :status, {include_blank: t('.status')}, {class: "custom-select", 'aria-label': t('.label.initiative_status')}  ) %>
            </div>
            <div class="col input-group">
               <%= collection_select(:query, :actor, Actor.all.sort_by { |a| a.name  }, :id, :name, {include_blank: t('.actors')}, {class: "custom-select", 'aria-label': t('.label.actor')}  ) %>
            </div>
         </div>
         <div class="pt-4 align-center">  <%= submit_tag(t('.search_initiatives'), class: "btn btn-primary hvr-grow") %></div>
         <% end %>
      </div>
   </div>
</div>
<div>
   <div id="results"></div>
</div>
