$('#modal-window').find('.modal-body').html("");
$('#modal-window').find('.modal-body').append('<p><%= t('shared.success.thank-you')%></p>');
$("#modal-window").modal('show');
document.getElementById("custom_id").reset();