<div class="container pt-5">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-8">
      <h2 class="pb-5 text-center">
        <%= link_to stories_path do %>
          <%= t('all_stories.title') %>
        <% end %>
      </h2>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h2 class="pb-5 text-center">
        <%= link_to stories_path do %>
          <%= t('highlights.title') %>
        <% end %>
      </h2>
    </div>
  </div>
   <div class="row">
      <% @stories.each do |story| %>
       <div class="pb-5 col-sm-12 col-md-6 col-lg-4">
         <div class="card">
            <% if story.picture.attached? %>
            <a href="<%= story_path(story) %>"><img src="<%= url_for(story.picture) %>" class="card-img hvr-grow" alt="<%= story.picture.filename %>"></a>
            <% end %>
            <div class="card-body">
               <h3 class="card-title" id="story_heading_<%=story.id%>"><%= link_to story.title, story_path(story) %></h3>
               <%= story.actors.map{|actor| link_to actor.name, actor_path(actor), class: 'hvr-grow color-link'}.join(', ').html_safe %>
               <p class="card-text"><%= story.summary %></p>
               <% if story.members.exists? %>
                 <p class="card-text"> <%= t('all_stories.story_by') %> <%= story.members.map{|m| " " + m.name }.join(",") %></p>
               <% end %>
               <%= link_to t('all_stories.read_more'), story_path(story), class: 'btn btn-primary color-white btn-lg hvr-grow card-read-more', 'aria-labelledby': "story_heading_#{story.id}" %>
            </div>
         </div>
       </div>
     <% end %>
      <div class="pb-5 col-sm-12 col-md-6 col-lg-4">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner story-card-carousel">
            <% @highlighted.each_with_index do |story, index| %>
              <div class="carousel-item item-story <% if index == 0  %>active<% end %>">
                <div class="card">
                  <% if story.picture.attached? %>
                    <a href="<%= story_path(story) %>"><img src="<%= url_for(story.picture) %>" class="card-img hvr-grow" alt="<%= story.picture.filename %>"></a>
                  <% end %>
                  <div class="card-body">
                    <h3 class="card-title" id="story_heading_<%=story.id%>"><%= link_to story.title, story_path(story) %></h3>
                    <%= story.actors.map{|actor| link_to actor.name, actor_path(actor), class: 'hvr-grow color-link'}.join(', ').html_safe %>
                    <p class="card-text"><%= story.summary %></p>
                    <% if story.members.exists? %>
                      <p class="card-text"> <%= t('all_stories.story_by') %> <%= story.members.map{|m| " " + m.name }.join(",") %></p>
                    <% end %>
                    <%= link_to t('all_stories.read_more'), story_path(story), class: 'btn btn-primary color-white btn-lg hvr-grow card-read-more', 'aria-labelledby': "story_heading_#{story.id}" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="stories-nav-prev" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="stories-nav-next" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
   </div>
</div>
