<div id="padding-cat" class="container">
<!--  <h2 class="text-center"><%#= t('.areas')%></h2>-->
  <div class="row">
    <div  class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <%= link_to measurements_search_all_path(search: 'LANGUAGE'), class: 'area-button' do %>
        <h3 class="pt-3" style="color: #FE466C">#<%= t('.language').upcase %></h3>
      <% end %>
    </div>
    <div  class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <%= link_to measurements_search_all_path(search: 'YOUTH'), class: 'area-button' do %>
        <h3 class="pt-3" style="color: #FE466C">#<%= t('.youth').upcase %></h3>
      <% end %>
    </div>
    <div  class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <%= link_to measurements_search_all_path(search: 'GENDER EQUALITY'), class: 'area-button' do %>
        <h3 class="pt-3" style="color: #FE466C">#<%= t('.gender').upcase %></h3>
      <% end %>
    </div>
    <div  class="col-12 col-md-6 col-lg-3 pt-5 hvr-grow text-center">
      <%= link_to measurements_search_all_path(search: 'HUMAN RIGHTS'), class: 'area-button' do %>
        <h3 class="pt-3" style="color: #FE466C">#<%= t('.human').upcase %></h3>
      <% end %>
    </div>
  </div>
</div>