<div id="carousel" class="position-relative overflow-hidden pt-5 pb-5">
   <div class="">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
         
         <% carousel_slots = CarouselSlot.where(visible: true).order("ordering") %>
         <% fallback_to_default_carousel = carousel_slots.length == 0 %>
         <% show_carousel_controls = carousel_slots.length > 1 %>

         <ol class="carousel-indicators">

            <% if show_carousel_controls %>

               <!-- Aquí va un indicador por cada carousel slot que mostramos. -->
               <!-- Sólo aparecen si es que hay slots visibles -->
               <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>

               <% for i in 2..carousel_slots.length %>
                  <li data-target="#carouselExampleIndicators" data-slide-to="<%= i - 1 %>"></li>
               <% end %>
            <% end %>
         </ol>
         <div class="carousel-inner">            
            <% if fallback_to_default_carousel %>
               <!-- Aquí va el carousel slot por defecto si es que no hay ningún carousel slot guardado y
                 configurado como visible. -->
               <div class="carousel-item active">
                  <img class="d-block w-100" src="<%= asset_path('image.png') %>" alt="First slide">
                  <div class="carousel-caption no-bg">
                     <h1><%= t('.title_html')%></h1>
                  </div>
                  <div class="carousel-caption">
                     <h4 id="button-see" class="pb-4">
                        <%= link_to t('.see-more'), start_url, class: "btn btn-primary color-white btn-lg hvr-grow" %>
                     </h4>
                  </div>
               </div>
            <% else %>

               <% first_slot = carousel_slots.first %>

               <!-- Aquí va el primer carousel slot. Se hace por separado porque el html es distinto. -->
               <div class="carousel-item active">
                  <!-- Aquí va la imagen del carousel slot -->
                  <!-- Recordar poner un buen alt text. Probablemente parte de la base de datos. -->
                  <img class="d-block w-100" 
                     src="<%= get_resized_image_url first_slot.picture %>" 
                     alt="First slot's background">
                 <% unless first_slot.carousel_text == "don't display" %>
                  <div class="carousel-caption no-bg">
                     <!-- Aquí va el texto del slot-->
                     <h1><%= raw(first_slot.carousel_text) %></h1>
                  </div>
                  <% end %>
                  <div class="carousel-caption">
                     <h4 id="button-see" class="pb-4">
                        <!-- Aquí va el texto del link y el link -->
                        <%= link_to first_slot.link_text, make_any_url(first_slot.link), class: "btn btn-primary color-white btn-lg hvr-grow" %>
                     </h4>
                  </div>
               </div>

               <% carousel_slots.drop(1).each do |cs| %>
                  <!-- Aquí van los otros slots. Se hacen por separado porque el html es distinto. -->
                  <div class="carousel-item">
                     <img class="d-block w-100" src="<%= get_resized_image_url cs.picture %>" alt="">
                    <% unless cs.carousel_text == "don't display" %>
                     <div class="carousel-caption no-bg">
                        <h1><%= raw(cs.carousel_text) %></h1>
                     </div>
                    <% end %>
                     <div class="carousel-caption">
                        <h4 class="diplay-5 pb-4 text-center">
                           <%= link_to cs.link_text, make_any_url(cs.link), class: "btn btn-primary color-white btn-lg hvr-grow" %>
                        </h4>
                     </div>
                  </div>
               <% end %>
            <% end %>
         </div>
         <% if show_carousel_controls %>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
         <% end %>
      </div>
   </div>
</div>
