<div id="padding-cat" class="container mt-5">
   <h2 class="text-center"><%= t('.recomendationsandinitiatives')%></h2>
   <div class="row">
      <% @measurements_categories.order('id ASC').each do |category| %>
      <div  class="col-12 col-md-6 col-lg-4 pt-5 hvr-grow text-center">
         <%= link_to measurements_path(:category_id => category.id) do %>
         <img src="<%= url_for(category.picture) if category.picture.attached? %>" class="img-fluid img-categories" width="60%" alt="<%= t('.stock_img')%> <%= category.id%>" aria-labelledby="category_header_<%= category.id%>">
         <h3 id="category_header_<%= category.id%>" class="pt-3 color-black"><%= category.name %></h3>
         <% end %>
      </div>
      <% end %>
   </div>
</div>
