<div class="position-relative overflow-hidden pt-5 pb-5">
   <div class="container pt-5">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-1 pb-5 align-left">
         <h1 class="font-weight-normal pt-5 align-center"><%= t('.subtitle')%></h1>
         <p class="font-weight-normal align-center"><%= t('.title')%></p>
      </div>
   </div>
</div>
<!-- //STORY INSIDE// -->
<div class="container pt-5 mt-5 pb-5">
<div class="col-sm-12">
   <div class="row">
      <div class="col-sm-12 col-md-6 blog-main">
         <div class="row pt-2">
            <p><%= t('.description') %></p>
           <div class="row well">
             <% MeasurementCategory.order('id ASC').each do |category| %>
               <div class="col-md-2 pt-2 text-right">
                 <img src="<%= url_for(category.picture) if category.picture.attached? %>" width="50px" alt="<%= category.picture.filename if category.picture.attached? %>">
               </div>
               <div class="col-md-10">
                 <div>
                   <%= link_to measurements_path(:category_id => category.id) do %>
                     <%= category.name %>
                   <% end %>
                 </div>
               </div>
             <% end %>
           </div>
         </div>
      </div>
      <div class="col-sm-12 col-md-6 blog-main">
         <div class="blog-post pt-2">
            <p><%= t('.description-more') %></p>
         </div>
      </div>
      <div class="col-sm-12 col-md-12 pt-5 align-center">
         <iframe width="100%" height="350" src="https://www.youtube-nocookie.com/embed/XaC4QpAYGcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
   </div>
</div>
</div>
