
<%= render 'home_carousel' %>

<%= render 'areas' %>

<%= render 'shared/search_slide' %>

<%= render 'shared/counters' %>

<%= render 'all_stories' %>

<%= render 'measurement_categories' %>

<%= render 'shared/contribute_all' %>

<%= render 'shared/contact' %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
