/*
  Customize RailsAdmin theme here.
  Copy this file to your app/assets/stylesheets/rails_admin/custom/theming.scss, leave this one untouched
  Don't require it in your application.rb
  Look at the markup in RailsAdmin and go there to get inspiration from:
  http://getbootstrap.com
  Test me: (actual color should be the one defined in variables.scss if you did)
  body { background-color: $link-color; }
*/

// --- Generic settings ---------------------------------------------------- //

@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body.rails_admin .form-horizontal .tab-content .tab-pane {
  border-left: 5px solid #00d2bc;
}
