<%= form_with(model: story, local: true) do |form| %>
<% if story.errors.any? %>
<div id="error_explanation">
   <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>
   <ul>
      <% story.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
   </ul>
</div>
<% end %>
<div class="field">
   <%= form.label :title %>
   <%= form.text_field :title %>
</div>
<div class="field">
   <%= form.label :summary %>
   <%= form.text_area :summary %>
</div>
<div class="field">
   <%= form.label :content %>
   <%= form.text_area :content %>
</div>
<div class="field">
   <%= form.label :user_id %>
   <%= form.text_field :user_id %>
</div>
<div class="actions">
   <%= form.submit %>
</div>
<% end %>
