<div class="position-relative overflow-hidden pt-5 pb-5">
    <div class="container pt-5">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5 pb-5">
          <h1 class="display-4 font-weight-normal align-center pt-5"><%= t('.title')%></h1>
            <p class="align-center font-weight-normal"><%= t('.subtitle')%></p>
      </div>
  </div>
</div>
