 <div class="container">
   <div class="col-sm-12">
<!--      <h2 class="pt-5 pb-4 text-center"><%#= t('.yourstories') %></h2>-->
      <div id="myBtnContainer" class="text-center pb-5">
         <a class="btn active montserrat size-16 hvr-underline-from-center" href="/<%= I18n.locale %>/stories">
         <%= t('.all')%>
         </a>
         <% @categories.each do |category| %>
           <a class="btn montserrat size-16 hvr-underline-from-center" href="/<%= I18n.locale %>/stories?category_id=<%= category.id %>">
           <%= category.title %>
           </a>
         <% end %>
      </div>
      <div class="masonry masonry-columns-1 row">
         <% @stories.each do |story| %>
         <div class="masonry-item hvr-grow js-initiatives filterDiv col-md-6 col-lg-4 <%= story.story_category.title.parameterize %>">
            <% if story.picture.attached? %>
            <a href="<%= story_path(story) %>"><img src="<%= url_for(story.picture) %>" class="img-fluid center-block image-story" alt="<%= story.picture.filename %>"></a>
            <% end %>
            <h3 class="post-title pt-3"><%= link_to story.title, story_path(story) %></h3>
            <% if story.members.exists? %>
              <p class="card-text"> <%= t('all_stories.story_by') %> <%= story.members.map{|m| " " + m.name }.join(",") %></p>
            <% end %>
            <p class="post-info"><%= story.created_at.strftime("%d/%m/%Y")  %></p>
            <p><%= story.summary %></p>
            <%= link_to t('.more'), story_path(story), class: 'read-more', target: 'blank' %>
         </div>
         <% end %>
      </div>
     <div class="text-xs-center">
       <div class="container pagination justify-content-center" >
        <%= paginate @stories, window: 2, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm text-center", nav_class: "d-inline-b", params: { category_id: params[:category_id] } %>
       </div>
       </div>
   </div>
</div>
