<!-- //STORY INSIDE// -->
<div class="container pt-5 mt-5">
   <div class="col-sm-12">
      <div class="row">
         <div class="col-md-8 blog-main">
            <div class="blog-post pt-2">

               <h1 class="post-title pt-3"><%= @story.title %></h1>
               <p class="blog-post-meta pt-2"><%= @story.created_at.strftime("%d/%m/%Y")%>
              <div id="share-buttons" class="pb-3">
                <!-- Facebook -->
                <a href="http://www.facebook.com/sharer.php?u=<%= request.original_url %>" target="_blank">
                  <img src="<%= asset_path('facebook.png') %>" width="30" alt="Facebook" />
                </a>

                <!-- Twitter -->
                <a href="https://twitter.com/share?url=<%= request.original_url %>&amp;text=<%= @story.title %>" target="_blank">
                  <img src="<%= asset_path('twitter.png') %>" width="30" alt="Twitter" />
                </a>

                <!-- LinkedIn -->
                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= request.original_url %>" target="_blank">
                  <img src="<%= asset_path('linkedin.png') %>" width="30" alt="LinkedIn" />
                </a>

              </div>
                 <% if @story.gallery.attached? %>
                   <img src="<%= url_for(@story.gallery.last) %>" class="" width="100%" alt="<%= @story.gallery.last.filename %>"></a>
                 <% end %>
                 <% if @story.tags.present? %> |
                    <% @story.tags.each do |tag| %>
                        <%= link_to '#' + tag.name, measurements_search_all_path(search: tag.name) %>
                    <% end %>
                  <% end %>
               </p>
               <% if !@story.content.nil? %>
                 <p><%=raw markdown @story.content%> </p>
                 <p class="disclaimer-story"><%= t('.disclaimer')%></p>
               <% end %>
            </div>
            <!-- /.blog-post -->
         </div>
         <!-- /.blog-main -->

        <div class="col-md-4 nopadding">

         <% if @members.any? %>
            <aside class="col-md-12 blog-sidebar">
               <div class="p-4 mb-3 bg-light rounded">
                  <!-- Members -->
                  <h3 class="pb-3 align-center"><%= t('.contributors')%></h3>
                  <% @members.each do |m| %>
                  <div class="p-0 hoverino_growerino" data-toggle="modal" data-target="#modal<%=m.id%>">
                     <div class="pr-1 pl-1 align-center">
                        <% if m.picture.attached? %>
                           <img src="<%= url_for(m.picture) %>" class="card-img-top"  alt="<%= t('about.member_list.member_avatar', name: m.name)%>">
                        <% else %>
                           <img src="<%= asset_path('kosovo-logo-en.png') %>" class="card-img-top" alt="<%= t('about.member_list.no_avatar')%>">
                        <% end %>
                        <div class="card-body align-center">
                           <h4 class="card-title mb-0"><%= m.name %></h4>
                           <% if m.bio? %>
                              <p><i><%= m.bio.truncate(200, separator: '.', omission: '. ')%></i><b><%= t('.more')%></b></p>                        
                           <% else %>
                           <% end %>
                        </div>
                     </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="modal<%=m.id%>" tabindex="-1" role="dialog" aria-label="<%= t('.member_modal', name: m.name)%>" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <p class="card-title mb-0"><%= m.name %></p>
                              <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <p class="bio"><%= m.bio %></p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t('modal.close')%></button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% end %>
               </div>
            </aside>
         <% end %>
         <!-- /.blog-sidebar -->
        <div class="col-md-12 stories-sidebar">
          <h1><%= t('.latest')%></h1>
          <% @latest_stories.each do |story| %>
            <div class="card">
              <div class="">
                <div class="img-square-wrapper">
                  <% if story.picture.attached? %>
                    <a href="<%= story_path(story) %>"><img src="<%= url_for(story.picture) %>" class="" width="100%" alt="<%= story.picture.filename %>"></a>
                  <% end %>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= link_to story.title, story_path(story) %></h4>
                  <p class="card-text"><p><%= story.summary %></p></p>
                  <%= link_to t('.more'), story_path(story), class: 'read-more', target: 'blank' %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        </div>
      </div>
   </div>
   <!-- /.row -->
</div>
