<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-signin pt-5'})  do |f| %>
<div class="text-center mb-4 pt-5">
   <img class="mb-2" src="<%= asset_path('kosovo-logo-en.png') %>" alt="" width="72" height="72">
   <h1 class="h3 mb-3 font-weight-normal"><%= t('.log_in')%></h1>
   <p><%= t('.enter')%> <code><%= t('.email')%> </code><%= t('.and')%> <code><%= t('.password')%></code> <%= t('.tologin')%></p>
</div>
<div class="field">
   <%= f.label :email %><br />
   <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "user_email" %>
</div>
<div class="field">
   <%= f.label :password %><br />
   <%= f.password_field :password, autocomplete: "current-password", class: "form-control", id: "user_password" %>
</div>
<% if devise_mapping.rememberable? %>
<div class="checkbox mb-2">
   <%= f.check_box :remember_me %>
   <%= f.label :remember_me %>
</div>
<% end %>
<div class="pb-4">
   <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block hvr-grow" %>
</div>
</div>
<%= render "devise/shared/links" %>
<% end %>
