<div class="position-relative overflow-hidden pt-2">
  <div class="container pt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-2 pb-5">
      <h1 class="display-4 font-weight-normal align-center pt-5"><%= t('.infographics')%></h1>
    </div>
  </div>
</div>

<div class="container">
  <iframe width="100%" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZWFjMDhmMzItYmFlZi00NTQwLWFlYTAtMTgzYmE1MmU4ZmQzIiwidCI6IjBmOWUzNWRiLTU0NGYtNGY2MC1iZGNjLTVlYTQxNmU2ZGM3MCIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="position-relative overflow-hidden pt-2">
  <div class="container pt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-2 pb-5">
      <h1 class="display-4 font-weight-normal align-center pt-5"><%= t('.resources')%></h1>
    </div>
  </div>
</div>
<div id="stories"></div>
<div class="container">
  <div class="col-sm-12">
    <div id="myBtnContainer" class="text-center pb-5">
      <% @categories.each do |category| %>
        <a class="btn montserrat size-16 hvr-underline-from-center" href="/<%= I18n.locale %>/resources?category_id=<%= category.id %>#stories">
          <%= category.title %>
        </a>
      <% end %>
    </div>
    <div class="masonry masonry-columns-1 row">
      <% @stories.each do |story| %>
        <div class="masonry-item hvr-grow js-initiatives filterDiv col-md-6 col-lg-4 <%= story.story_category.title.parameterize %>">
          <% if story.picture.attached? %>
            <a href="<%= story_path(story) %>"><img src="<%= url_for(story.picture) %>" class="img-fluid center-block image-story" alt="<%= story.picture.filename %>"></a>
          <% end %>
          <h3 class="post-title pt-3"><%= link_to story.title, story_path(story) %></h3>
          <% if story.members.exists? %>
            <p class="card-text"> <%= t('all_stories.story_by') %> <%= story.members.map{|m| " " + m.name }.join(",") %></p>
          <% end %>
          <p class="post-info"><%= story.created_at.strftime("%d/%m/%Y")  %></p>
          <p><%= story.summary %></p>
          <%= link_to t('.more'), story_path(story), class: 'read-more', target: 'blank' %>
        </div>
      <% end %>
    </div>
    <div class="text-xs-center">
      <div class="container pagination justify-content-center" >
        <%= paginate @stories, window: 2, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm text-center", nav_class: "d-inline-b", params: { category_id: params[:category_id], anchor: 'stories' } %>
      </div>
    </div>
  </div>
</div>
