<div class="container">
   <h2 class="pb-4 text-center"><%= t('.recommendations')%></h2>
   <div class="card-columns">
      <% @measurements.each_with_index do |measurement, index| %>
      <div class="card">
         <div class="card-body">
            <h3 class="card-title hvr-grow"> <%= link_to ((index+1).to_s + '. ' +measurement.title), measurement_path(measurement), style:'color: black !important' %></h3>
            <div class="sdgs">
              <% if measurement.sdg %>
                <% measurement.sdg.split(",").each do |sdg_id| %>
                  <%= link_to measurements_path(:sdg_id => sdg_id) do %>
                    <img src="<%= asset_path("sdg-#{sdg_id}.png") %>" width="50px" style="margin-bottom: 3px;">
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <p class="card-text montserrat"><%= t('.initiatives', count: measurement.initiatives.count)%>
               <% if measurement.has_fulfillment %>
            </p>
            <!-- PROGRESS BAR -->
            <div class="progress">
               <div class="progress-bar" role="progressbar" style="width: <%= measurement.fulfillment %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= measurement.fulfillment.round %>%</div>
               <div class="progress-bar color-grey" role="progressbar" style="width: <%= 10 - measurement.fulfillment %>;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!-- END PROGRESS BAR -->
            <div class="row">
               <!-- PROGRESS AND READ MORE BUTTON -->
               <div class="col-6 pt-2">
                  <p class="overview-tag hvr-underline-from-center" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= t('.progress')%></p>
               </div>
               <div class="col-6 pt-2">
                  <p class="overview-tag color-link-3 align-right" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= t('.read-more')%></p>
               </div>
               <!-- END PROGRESS AND READ MORE BUTTON -->
               <!-- MODAL -->
               <div class="modal fade" id="modal<%=measurement.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h3 class="modal-title" id="exampleModalLabel"><%= measurement.title %></h3>
                           <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        <div class="modal-body">
                           <% if !measurement.description.nil? %>
                               <h3><i class="fas fa-bookmark"></i> <%= t('.description')%> </h3> <%= markdown measurement.description %>
                           <% else %>
                              <%= t('.no-description')%>
                           <% end %>
                           <% if !measurement.summary.nil? %>
                          <h3><i class="fas fa-bookmark"></i> <%= t('.summary')%> <%= measurement.summary %></h3>
                           <% else %>
                           <h3><%= t('.no-summary')%></h3>
                           <% end %>
                        </div>

                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary hrv-grow" data-dismiss="modal"><%= t('.close')%></button>
                           <%= link_to t('.contribute'), about_index_path(anchor: 'how-can-i-contribute'), :target => '_blank', class: "btn btn-primary hvr-grow color-white"%>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- END MODAL -->
            </div>
            <% elsif !measurement.description.nil? %>
            <p class="overview-tag" data-toggle="modal" data-target="#modal<%=measurement.id%>"><%= t('.more')%></p>
            <!-- MODAL -->
            <div class="modal fade" id="modal<%=measurement.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel"><%= measurement.title %></h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>

                     <div class="modal-body">
                        <% if !measurement.description.nil? %>
                         <h3><i class="fas fa-bookmark"></i> <%= t('.description')%> <%= markdown measurement.description %> </h3>
                        <% else %>
                        <%= t('.no-description')%>
                        <% end %>
                        <% if !measurement.summary.nil? %>
                       <h3><i class="fas fa-bookmark"></i> <%= t('.summary')%> <%= measurement.summary %></h3>
                        <% else %>
                        <h3><%= t('.no-summary')%></h3>
                        <% end %>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary hvr-grow" data-dismiss="modal"><%=t('modal.close')%></button>
                        <%= link_to t('.contribute'), about_index_path(anchor: 'how-can-i-contribute'), :target => '_blank', class: "btn btn-primary color-white hvr-grow"%>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END MODAL -->
            <% end %>
            <p class="card-text montserrat"><small class="text-muted"><%= measurement.measurement_category.name %></small></p>
         </div>
      </div>
      <% end %>
   </div>
</div>
