<!--<div class="position-relative overflow-hidden pt-5 pb-5 bg-light-recommendations">-->
<!--    <div class="container pt-5">-->
<!--      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pt-5 pb-5 align-left pl-5 responsive-padding">-->
<!--          <h1 class="display-4 font-weight-normal align-left pt-5 pr-5 hvr-grow"><%#= @measurement_category.name %></h1>-->
<!--      </div>-->
<!--  </div>-->
<!--</div>-->
<% if params[:sdg_id] %>
  <div class="container pt-5">
    <div class="row pt-5">
      <div class="text-center w-100 col-md-12">
        <img src="<%= asset_path("sdg-#{params[:sdg_id].to_i}.png") %>" width="200px" style="margin-bottom: 3px;">
      </div>
    </div>
  </div>
<% else %>
<div class="container">
  <div class="row">
    <div class="text-center w-100 pt-5">
      <h1 class="display-4 font-weight-normal align-left pt-5 hvr-grow"><%= @measurement_category.name %></h1>
    </div>
    <div class="col-md-6 text-center pt-5">
      <img src="<%= url_for(@measurement_category.graphic) if @measurement_category.graphic.attached? %>" class="img-fluid img-categories" width="60%">
    </div>
    <div class="col-md-6 text-center pt-5">
      <img src="<%= url_for(@measurement_category.picture) if @measurement_category.picture.attached? %>" class="img-fluid img-categories" width="60%">
    </div>
  </div>
  <div class="row">
    <div id="js-category-id" visible="false" data-id=<%= @measurement_category.id %>></div>
    <div id="js-for-recommendation" visible="false" data-id=true></div>
    <div class="col-md-12 text-center pt-5">
      <!--  Map with initiatives -->
      <div class="hvr-grow" id="map"> </div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyzOTCNZorbekjfuUuu6Sa3G3B2mJMTE0&callback=initMap&language=<%=I18n.locale%>" async defer></script>
    </div>
  </div>
</div>
<% end %>
