<div class="position-relative overflow-hidden bg-light-hashtags pt-5">
  <div class="container">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-5">
      <h1 class="display-4 font-weight-normal align-left pt-5 pr-5 hvr-grow">
        <i><%= @area.name %></i>
      </h1>
    </div>
  </div>
</div>

<% if @initiatives.count == 0 %>
  <div class="container pt-5">
    <div id="notice"> <%= t('.not-found')%> </div>
  </div>
<% else %>

  <% if @initiatives.count > 0 %>
    <div class="container">
      <%= render "shared/initiatives_table", initiatives: @initiatives %>
    </div>
  <% end %>
<% end %>