<div class="position-relative overflow-hidden bg-light-category pt-5">
   <div class="container">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 pt-5 pb-5">
         <h1 class="display-4 font-weight-normal align-left pt-4 hvr-grow">
           <%= link_to measurements_path(:category_id => @measurement.measurement_category.id) do %>
             <%= @measurement.measurement_category.name %>
           <% end %>
         </h1>
      </div>
   </div>
</div>
<div class="container">
   <div class="row pt-5">
      <div class="col align-left">
         <p class="hvr-grow"><i class="fas fa-arrow-circle-left"></i> <%=  link_to t('.previous_recommendation'), measurement_path(@measurement.previous) %> </p>
      </div>
      <div class="col align-right">
         <p class="hvr-grow"><%=  link_to t('.next_recommendation'), measurement_path(@measurement.next) %> <i class="fas fa-arrow-circle-right"></i></p>
      </div>
   </div>
   <div class="row height-400">
      <div class="col-sm-6 pt-5 pb-3">
         <div id="recommendations-carousel" data-interval="false" class="carousel slide recommendations-alt" data-ride="carousel">
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner pt-3">
               <div id="js-measurement" class="item carousel-item active js-measurement" data-id=<%=@measurement.id%>>
                  <p class="testimonial pb-3"> <%= @measurement.title %> </p>
                  <% if @measurement.has_fulfillment %>
                  <div class="progress">
                     <div class="progress-bar" role="progressbar" style="width: <%= @measurement.fulfillment %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" data-toggle="modal" data-target="#modal<%=@measurement.id%>"><%= @measurement.fulfillment.round %>%</div>
                     <div class="progress-bar color-grey" role="progressbar" style="width: <%= 10 - @measurement.fulfillment %>;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <div class="row">
                     <div class="col-6 pt-3">
                        <p class="overview-tag hvr-grow" data-toggle="modal" data-target="#modal<%=@measurement.id%>"><%= t('.progress')%></p>
                     </div>
                     <div class="col-6 pt-3">
                        <p class="overview-tag align-right color-link-3" data-toggle="modal" data-target="#modal<%=@measurement.id%>"><%= t('.read-more')%></p>
                     </div>
                     <!-- Modal -->
                     <div class="modal fade" id="modal<%=@measurement.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                           <div class="modal-content">
                              <div class="modal-header">
                                 <h5 class="modal-title" id="exampleModalLabel"><%= @measurement.title %></h5>
                                 <button type="button" class="close hvr-grow" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <% if !@measurement.description.nil? %>
                                    <h5><i class="fas fa-bookmark"></i> <%= t('.description')%> </h5> <%= markdown @measurement.description %>
                                 <% else %>
                                    <h5><%= t('.no-description')%></h5>
                                 <% end %>
                                 <% if !@measurement.summary.nil? %>
                                   <h5><i class="fas fa-bookmark"></i> <%= t('.summary')%> <%= @measurement.summary %></h5>
                                 <% else %>
                                    <h5><%= t('.no-summary')%></h5>
                                 <% end %>
                              </div>
                              <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary hvr-grow" data-dismiss="modal"><%=t('modal.close')%></button>
                                 <%= link_to t('.contribute'), about_index_path(anchor: 'how-can-i-contribute'), :target => '_blank',class: "btn btn-primary color-white hvr-grow"%>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% elsif !@measurement.description.nil? %>
                  <p class="overview-tag color-link" data-toggle="modal" data-target="#modal<%=@measurement.id%>"><%= t('.more')%></p>
                  <!-- Modal -->
                  <div class="modal fade" id="modal<%=@measurement.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                     <div class="modal-dialog" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel"><%= @measurement.title %></h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('.close')%>">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <% if !@measurement.description.nil? %>
                                <h5><i class="fas fa-bookmark"></i> <%= t('.description')%>
                                  <%= markdown @measurement.description %>
                                </h5>
                              <% else %>
                                <h5><%= t('.no-description')%></h5>
                              <% end %>
                              <% if !@measurement.summary.nil? %>
                               <h5><i class="fas fa-bookmark"></i> <%= t('.summary')%> <%= @measurement.summary %></h5>
                              <% else %>
                                <h5><%= t('.no-summary')%></h5>
                              <% end %>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t('modal.close')%></button>
                              <%= link_to t('.contribute'), about_index_path(anchor: 'how-can-i-contribute'), :target => '_blank', class: "btn btn-primary color-white hvr-grow"%>
                           </div>
                        </div>
                     </div>
                  </div>
                  <% end %>
                  <i>
                     <% @measurement.tags.each do |tag| %>
                        <%= link_to '#' + tag.name, measurements_search_all_path(search: tag.name) %>
                     <% end %>
                  </i>
               </div>
            </div>
         </div>
      </div>
      <div class="col-sm-6 pt-5 pb-5">
         <!--  Map with initiatives -->
         <div class="hvr-grow" id="map"> </div>
         <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyzOTCNZorbekjfuUuu6Sa3G3B2mJMTE0&callback=initMap&language=<%=I18n.locale%>" async defer></script>
      </div>
   </div>
  <div class="sdgs">
    <% if @measurement.sdg %>
      <% @measurement.sdg.split(",").each do |sdg_id| %>
        <%= link_to measurements_path(:sdg_id => sdg_id) do %>
          <img src="<%= asset_path("sdg-#{sdg_id}.png") %>" width="50px" style="margin-bottom: 3px;">
        <% end %>
      <% end %>
    <% end %>
  </div>

   <%= render "shared/initiatives_table", initiatives: @measurement.initiatives %>

   </div>
</div>
<%= render 'shared/contact' %>
