<div class="position-relative overflow-hidden pt-2">
  <div class="container pt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-2 pb-5">
      <h1 class="display-4 font-weight-normal align-center pt-5"><%= t('.page_title')%></h1>
    </div>
  </div>
</div>
<div class="container pb-5 text-justify">
  <%=raw markdown Story.find(314).content %>
</div>
<div class="container">
  <iframe id="iframed" title="Coronavirus COVID-19 Global Cases by Johns Hopkins CSSE" width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>

<div class="position-relative overflow-hidden pt-2">
  <div class="container pt-5">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-2 pb-5">
      <h1 class="display-4 font-weight-normal align-center pt-5"><%= t('.stories_title')%></h1>
    </div>
  </div>
</div>
<div id="stories"></div>
<div class="container">
  <div class="col-sm-12">
    <div class="masonry masonry-columns-1 row">
      <% @stories.each do |story| %>
        <div class="masonry-item hvr-grow js-initiatives filterDiv col-md-6 col-lg-4 <%= story.story_category.title.parameterize %>">
          <% if story.picture.attached? %>
            <a href="<%= story_path(story) %>"><img src="<%= url_for(story.picture) %>" class="img-fluid center-block image-story" alt="<%= story.picture.filename %>"></a>
          <% end %>
          <h3 class="post-title pt-3"><%= link_to story.title, story_path(story) %></h3>
          <% if story.members.exists? %>
            <p class="card-text"> <%= t('all_stories.story_by') %> <%= story.members.map{|m| " " + m.name }.join(",") %></p>
          <% end %>
          <p class="post-info"><%= story.created_at.strftime("%d/%m/%Y")  %></p>
          <p><%= story.summary %></p>
          <%= link_to t('.more'), story_path(story), class: 'read-more', target: 'blank' %>
        </div>
      <% end %>
    </div>
    <div class="text-xs-center">
      <div class="container pagination justify-content-center" >
        <%= paginate @stories, window: 2, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm text-center", nav_class: "d-inline-b", params: { category_id: params[:category_id], anchor: 'stories' } %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  $(document).ready(function()
  {
    if($(window).width() < 768)
      $('#iframed').attr("src","https://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61");
    else
      $('#iframed').attr("src","https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6");
  });

</script>
