<% if member_list.visible %>
  <div class="container pt-5">
     <h2 class="pb-5 text-center"><%= member_list.name %></h2>
     <div class="row">
        <% member_list.members.each do |m| %>
        <!-- Contributor Members -->
        <div class="col-xl-4 col-md-4 mb-4 align-center">
           <div class="card border-0 hvr-grow">
              <% if m.picture.attached? %>
               <a href="#" data-toggle="modal" data-target="#modal<%=m.id%>"><img src="<%= url_for(m.picture) %>" class="card-img-top" alt="<%= t('.member_avatar', name: m.name)%>"></a>
              <% else %>
               <a href="#" data-toggle="modal" data-target="#modal<%=m.id%>"><img src="<%= asset_path('kosovo-logo-en.png') %>" class="card-img-top" alt="<%= t('.no_avatar')%>"></a>
              <% end %>
              <p class="card-title mt-4"><%= m.name %></p>
             <div style="width: 100%; text-align: center;">
               <% m.member_links.each do |link| %>
                 <% if link.category_link.icon.attached? %>
                   <a href="<%= make_external_url link.link %>" target="_blank">
                     <img class="rrss" src="<%= url_for(link.category_link.icon) %>" alt="<%= link.category_link.icon.filename %>" width="30">
                   </a>
                 <% end %>
               <% end %>
             </div>
           </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal<%=m.id%>" tabindex="-1" role="dialog" aria-label="<%= t('.member_modal', name: m.name)%>" aria-hidden="true">
           <div class="modal-dialog" role="document">
              <div class="modal-content">
                 <div class="modal-header">
                    <p class="card-title mb-0"><%= m.name %></p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                    <span aria-hidden="true">&times;</span>
                    </button>
                 </div>
                 <div class="modal-body">
                    <p class="bio"><%= m.bio %></p>
                 </div>
                 <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t('modal.close')%></button>
                 </div>
              </div>
           </div>
        </div>
        <% end %>
     </div>
  </div>
<% end %>
