<div class="position-relative overflow-hidden pt-5 pb-5">
   <div class="container pt-5">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 pt-5 pb-5 align-left">
          <h1 class="font-weight-normal pt-5 align-center"><%= t('.subtitle')%></h1>
          <p class="align-center font-weight-normal "><%= t('.title')%></p>
      </div>
   </div>
</div>
