<div class="container pt-5 pb-5">
   <div class="row">
      <div class="col-xl-4 col-md-4 mb-2">
        <h2 class="pb-2 align-center"><%= t('.powered')%></h2>
        <div class="text-center">
           <a href="#" data-toggle="modal" data-target="#modalNSI"><img allign="middle" src="<%= asset_path('logo-NSI.png') %>" class="center hvr-grow" alt="<%= t('.image_description.nsi_logo')%>" data-toggle="modal" data-target="#exampleModal"></a>
           <p class="card-title mt-4"><%= t('.nsi')%></p>
           <div class="text-center">
             <a href="https://www.facebook.com/newsocialinitiative/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.nsi.fb')%>"><i class="fab fa-facebook-f hvr-grow pr-4"></i></a>
             <a href="https://www.instagram.com/newsocialinitiative.nsi/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.nsi.ig')%>"><i class="fab fa-instagram hvr-grow pr-4"></i></a>
             <a href="https://twitter.com/NSIMitrovica/ " target="_blank" rel="noopener" aria-label="<%=t('.link_label.nsi.tw')%>"><i class="fab fa-twitter hvr-grow pr-4"></i></a>
             <a href="http://newsocialinitiative.org/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.nsi.hp')%>"><i class="fas fa-desktop hvr-grow"></i></a>
           </div>
        </div>
      </div>
      <div class="modal fade" id="modalNSI" tabindex="-1" role="dialog" aria-label="<%= t('.modal_label.nsi')%>" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <p class="card-title mb-0"><%= t('.nsi')%></p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('.close')%>">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p class="bio"><%= t('.nsi_description')%></p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t('modal.close')%></button>
               </div>
            </div>
         </div>
      </div>


      <div class="col-xl-4 col-md-4 mb-2">
        <h2 class="pb-2 align-center"><%= t('.support')%></h2>
        <div class="text-center">
           <a href="#" data-toggle="modal" data-target="#modalUNMIK"><img allign="middle" src="<%= asset_path('support-01.png') %>" class="center hvr-grow" alt="<%= t('.image_description.unmik_logo')%>" data-toggle="modal" data-target="#exampleModal2"></a>
           <p class="card-title mt-4"><%= t('.unmik')%></p>
           <div class="text-center">
              <a href="https://www.facebook.com/UNMIK" target="_blank" rel="noopener" aria-label="<%=t('.link_label.unmik.fb')%>"><i class="fab fa-facebook-f hvr-grow pr-4"></i></a>
              <a href="https://www.instagram.com/unmik.kosovo/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.unmik.ig')%>"><i class="fab fa-instagram hvr-grow pr-4"></i></a>
              <a href="https://twitter.com/UNMIKosovo" target="_blank" rel="noopener" aria-label="<%=t('.link_label.unmik.tw')%>"><i class="fab fa-twitter hvr-grow pr-4"></i></a>
              <a href="https://unmik.unmissions.org/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.unmik.hp')%>"><i class="fas fa-desktop hvr-grow"></i></a>
           </div>
        </div>
      </div>
      <div class="modal fade" id="modalUNMIK" tabindex="-1" role="dialog" aria-label="<%= t('.modal_label.unmik')%>" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <p class="card-title mb-0"><%= t('.unmik')%></p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p class="bio"><%= t('.unmik_description')%></p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t('modal.close')%></button>
               </div>
            </div>
         </div>
      </div>

      <div class="col-xl-4 col-md-4 mb-2">
        <h2 class="pb-2 align-center"><%= t('.collaboration')%></h2>
        <div class="text-center">
          <a href="#" data-toggle="modal" data-target="#modalFCI"><img allign="middle" src="<%= asset_path('logo-fci.png') %>" class="center hvr-grow" alt="<%= t('.image_description.fci_logo')%>" data-toggle="modal" data-target="#exampleModal3"></a>
           <p class="card-title mt-4"><%= t('.fci')%></p>
           <div class="text-center">
             <a href="https://www.facebook.com/ciudadaniai/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.ciui.fb')%>"><i class="fab fa-facebook-f hvr-grow pr-4"></i></a>
             <a href="https://www.instagram.com/ciudadaniai/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.ciui.ig')%>"><i class="fab fa-instagram hvr-grow pr-4"></i></a>
             <a href="https://twitter.com/ciudadania_i" target="_blank" rel="noopener" aria-label="<%=t('.link_label.ciui.tw')%>"><i class="fab fa-twitter hvr-grow pr-4"></i></a>
             <a href="https://ciudadaniai.org/" target="_blank" rel="noopener" aria-label="<%=t('.link_label.ciui.hp')%>"><i class="fas fa-desktop hvr-grow"></i></a>
           </div>
        </div>
      </div>
      <div class="modal fade" id="modalFCI" tabindex="-1" role="dialog" aria-label="<%= t('.modal_label.ciui')%>" aria-hidden="true">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                  <p class="card-title mb-0"><%= t('.fci')%></p>
                  <button type="button" class="close" data-dismiss="modal" aria-label="<%=t('modal.close')%>">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                  <p class="bio"><%= t('.fci_description')%></p>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal"><%=t('modal.close')%></button>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>
