@import "bootstrap";
/* text */
a{
color: #212B36;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
font-weight: bold;
background-color: transparent;
  overflow-wrap: break-word;
}
a:hover{
color:#FE466C;
text-decoration: none;
background-color:transparent;
}
a:visited{
}
h1 {
font-size: 27px;
font-family: 'Montserrat', sans-serif;
background-color: transparent;
font-weight: normal;
}
h2 {
font-size: 30px;
font-family: 'Montserrat', sans-serif;
line-height: 1.5;
background-color: transparent;
}
h3 {
font-size: 18px;
font-family: 'Montserrat', sans-serif;
font-weight: bold;
background-color: transparent;
}
h4 {
font-size: 18px;
font-family: 'Montserrat', sans-serif;
}
h5 {
font-size: 14px;
font-family: 'Montserrat', sans-serif;
}
h6 {
font-size: 14px;
font-family:'Montserrat', sans-serif;
font-style: normal;
font-weight: normal;
line-height: 1.5;
color: #000000;
}
p, ol, ul, td{
font-family: montserrat;
line-height: 1.5;
}

//hr
hr {
display: block;
margin-top: 0.5em;
margin-bottom: 0.5em;
margin-left: auto;
margin-right: auto;
border-style: inset;
border-width: 1px;
}

//margin
.pt-0{
padding-top: 0px;
}
.pt-10{
position: absolute;
top: -30px;
text-align: left;
vertical-align: middle;
max-width: 500px;
}
.pt-20{
padding-top: 20rem;
}
.pr-30{
padding-right: 30rem;
}
.pt-70{
padding-top: 70px;
}
.pt-100{
padding-top: 100px;
}

#notice {
color: #343a40;
font-family: montserrat;
font-weight: bolder;
font-size: 21px;
text-align: center;
}
#map {
height: 280px;
width: 100%;
}
.checkbox{
font-size: 12px;
}
.bio{
line-height: 1.5 !important;
}
.img-fluid{
border-radius: 0.20rem !important;
}
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
width: 100%;
opacity: 0;
transition: .2s ease;
background-color: white;
}
.recommendations-alt{
height: 200px;
}
.progress-bar {
display: flex;
flex-direction: column;
justify-content: center;
color: white;
font-size:10px;
font-family: montserrat;
font-weight: bold;
text-align: center;
white-space: nowrap;
background-color: #06CBAD;
transition: width 0.6s ease;
}
.option{
padding-top: 1rem;
padding-bottom: 1rem;
}
.font-thin{
font-weight: lighter;
}
.bold{
font-weight: bold !important;
}
.category-name{
font-weight: 600;
}
.montserrat{
font-family: 'Montserrat', sans-serif;
}

// This displays small caps with sans serif.
// We're using it to fix Montserrat not showing
// the small caps while in Safari :)
@mixin becomes_ssf_with_serbian {
    &:lang(sr) {
        font-family: sans-serif;
    }
}

//form
.form-control {
font-size: 16px;
font-family: montserrat;
font-weight: 500;
font-stretch: expanded;
border: 1px solid #e9ecef;
border-radius: 0.2rem;
}
//dropdown
.dropdown-item{
font-size: 13px;
}
.dropdown-item:hover{
background-color: #FE466C;
}
.dropdown-link{
color:black !important;
}
.dropdown-toggle::after{
display: auto !important;
margin-left: 1em;
}

/* navbar*/
.bg-dark .navbar-toggler {
color: #212529 !important;
border-color: transparent;
}
.nav-link {
color: #495057;
padding-left: 10px;
padding-right: 10px;
font-weight: lighter;
font-family: 'Montserrat', sans-serif;
font-size: 12px;
}
.navbar-nav .nav-link {
color: rgba(255, 255, 255, 0.5);
font-size: 12px;
font-family: 'Montserrat', sans-serif;
font-weight: lighter;
font-stretch: semi-expanded;
}
.navbar-brand {
color: #495057;
font-size: 18px;
font-family: 'Montserrat', sans-serif;
font-weight: lighter;
font-stretch: semi-expanded;
}
.navbar-light .navbar-brand{
color: #495057;
font-weight: 500;
}
.navbar-light .navbar-brand:hover{
color:grey;
background-color:transparent;
opacity: 0.7;
}
.navbar-light .navbar-nav .nav-link{
color:grey;
font-family: montserrat;
font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:hover {
color:gray;
opacity: 0.4;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
color: #212529 !important;
font-size: 12px;
font-weight: bold;
font-weight: 500;
}

// card
.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: transparent;
background-clip: transparent;
border: transparent;
border-radius: 0.25rem;
height: 100%;
padding-bottom: 20px;
}
.card-img-top{
max-width: 150px;
}

.card-read-more {
  position: absolute;
  bottom: 0px;
}

//table
.table td {
max-width: 200px;
}

.hoverino_growerino {
  cursor: pointer;
}

.table td.hoverino {
  cursor: pointer;
}

.table td a {
  display: inline-block;
  height:100%;
  width:100%;
}

.table td a:hover {
  color:#FE466C;
  text-decoration: none;
  background-color:transparent;
}

.table thead th {
vertical-align: bottom;
border-bottom: 2px solid grey;
}
.font-table{
font-size: 12px;
font-family: montserrat;
}

//modal
.modal-title{
font-weight: bolder;
font-family: montserrat;
}
.modal-icons a{
display: inline-block;
font-size: 12px;
font-family: montserrat;
color:black;
}

// custom
.custom-select{
font-size: 14px;
font-family: montserrat;
font-weight: 500;
font-stretch: expanded;
font-variant: all-small-caps;
border: 1px solid #e9ecef;
border-radius: 0.2rem;
@include becomes_ssf_with_serbian;
}
.custom-control{
font-size: 14px;
font-family: montserrat;
font-weight: 500;
font-stretch: expanded;
font-variant: all-small-caps;
border: 1px solid #e9ecef;
border-radius: 0.2rem;
@include becomes_ssf_with_serbian;
}

//stats
.stats{
font-family: montserrat;
font-size: 14px;
padding-right: 10px;
}
.stats:hover{
font-family: montserrat;
font-size: 14px;
padding-right: 10px;
}

// align
.align-center{
text-align: center !important;
}
.align-right{
text-align: right !important;
}
.align-left{
text-align: left !important;
}

//overview
.overview-tag{
font-size: 12px;
font-family: montserrat;
font-weight: bold;
color:black;
cursor:pointer;
}
.overview-tag:hover{
font-size: 12px;
color:grey;
}

//badge
.badge-modal{
padding: 0 !important;
display: inline-block;
font-size: 75%;
font-weight: 700;
}
.badge-intiative {
color:white;
padding: 5px;
border-radius: 0;
}
.badge-warning .badge-in-progress{
background-color:#ffc107;
color:white;
padding: 5px;
border-radius: 0;
color:white;
}
.badge-success .badge-completed{
background-color:#06CBAD;
padding: 5px;
border-radius: 0;
color:white;
}
.badge-info .badge-partially-completed{
background-color:#866AFB;
padding: 5px;
border-radius: 0;
color:white;
}
.badge-danger .badge-no-activity{
background-color:#FE466C;
padding: 5px;
border-radius: 0;
color:white;
}
.badge-initiative-status{
color:white;
padding: 10px;
border-radius: 0;
color:white;
font-size: 90%;
}

//colors
.red{
color:#FE466C;
}
.purple{
color:#866AFB;
}
.yellow{
color:#ffc107;
}
.green{
color:#06CBAD;
}
.black{
color:#000;
}
.color-white{
color: white !important;
}
.color-grey{
background-color: #e9ecef;
}
.color-gray{
color: gray;
}
.color-link{
color:#FE466C !important;
}
.color-link:visited{
color:#FE466C !important;
}
.color-link-2{
color:#FE466C !important;
text-align: right !important;
}
.color-link-3{
color:#FE466C !important;
text-align: right !important;
}
.color-link-3:hover{
color:grey!important;
}
.color-black{
color:black !important;
}
.font-white{
color: white;
}
//footer
.font-footer{
font-size: 24px;
font-family: 'Montserrat', sans-serif;
line-height: 1.5;
font-weight: lighter;
font-stretch: expanded;
}
.footer-distributed .footer-links{
color: #ffffff;
margin: 20px 0 12px;
padding: 0;
}
.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.5;
text-decoration: none;
color: grey;
}
.footer-distributed .footer-links a:hover {
background-color: transparent;
color: #866AFB;
}
.footer-distributed{
background-color: white;
box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
box-sizing: border-box;
width: 100%;
text-align: left;
padding: 55px 50px;
margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}
.footer-distributed .footer-left{
width: 40%;
padding-left: 30px;
}
.footer-distributed h3{
color:  #343a40;
margin: 0;
}
.footer-distributed h3 span{
color:  #5383d3;
}
.footer-distributed .footer-center{
width: 35%;
}
.footer-distributed .footer-center i{
background-color:  #33383b;
color: #ffffff;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;
}
.footer-distributed .footer-center p{
display: inline-block;
vertical-align: middle;
margin:0;
}
.footer-distributed .footer-center p span{
display:block;
line-height:2;
}
.footer-distributed .footer-center p a{
text-decoration: none;
}
.footer-distributed .footer-right{
width: 20%;
}
.footer-distributed .footer-icons{
margin-top: 25px;
text-align: center;
}
.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #866AFB;
border-radius: 2px;
font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;
margin-right: 3px;
margin-bottom: 5px;
}

// padding
.pb-10{
padding-bottom: 10px;
}
.pb-20{
padding-bottom: 20px;
}
.pb-30{
padding-bottom: 30px;
}
.pb-40{
padding-bottom: 40px;
}
.pb-50{
padding-bottom: 50px;
}
.pb-60{
padding-bottom: 60px;
}
.pb-70{
padding-bottom: 70px;
}
.pb-80{
padding-bottom: 80px;
}
.pb-90{
padding-bottom: 90px;
}
.pb-100{
padding-bottom: 100px;
}

// buttons

.btn {
display: inline-block;
font-weight: 500;
border: 1px solid transparent;
padding: 0.375rem 0.75rem;
font-size: 14px;
border-radius: 0rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn:hover {
color:grey;
}
.btn-primary-search {
color: white;
font-size: 16px;
font-family: montserrat;
background-color: #FE466C;
border-color: #FE466C;
font-weight: 500;
font-stretch: expanded;
font-variant: all-small-caps;
border-top-right-radius: 0.2rem;
border-bottom-right-radius: 0.2rem;
@include becomes_ssf_with_serbian;
}
.btn-primary-search:hover {
color: white;
background-color: #343a40;
border-color: #343a40;
}
.btn-danger {
color: #fff;
background-color: #00d2bc;
border-color: #00d8c9;
margin-right: 10px;
}
.btn-danger:hover {
background-color: #00d2bc;
border-color: #00d8c9;
}
.btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
color: #fff;
background-color: #00d2bc;
border-color: #00d8c9;
}
.btn-random{
color:#fff;
background-color: #343a40;
border-color: #343a40;
margin-right: 10px;
font-size: 14px;
font-family: montserrat;
font-weight: 500;
font-stretch: expanded;
}
.btn-random:hover {
background-color: #343a40;
border-color: #343a40;
}
.btn-random:not(:disabled):not(.disabled):active, .btn-random:not(:disabled):not(.disabled).active, .show > .btn-random.dropdown-toggle {
background-color: #343a40;
border-color: #343a40;
}
.btn-primary {
color: white;
font-size: 16px;
font-family: montserrat;
background-color: #FE466C;
border-color: #FE466C;
font-weight: 500;
border-radius: 0.2rem;
font-stretch: expanded;
font-variant: all-small-caps;
@include becomes_ssf_with_serbian;
}
.btn-primary:hover {
background-color: #343a40;
border-color: #343a40;
color:white;
}
.btn-secondary{
color: white;
font-size: 16px;
font-family: montserrat;
background-color: #343a40;
border-color: #343a40;
font-weight: 500;
border-radius: 0.2rem;
font-stretch: expanded;
font-variant: all-small-caps;
@include becomes_ssf_with_serbian;
}
.btn-secondary:hover{
color:white;
}
.btn-initiative-status {
color: #fff;
border-color: white;
margin-right: 10px;
}
.btn-initiative-status:hover {
color: #fff;
border-color: white;
}
.btn-initiative-status:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active, .show > .btn-danger.dropdown-toggle {
color: #fff;
border-color: white;
}
.btn-outline-success {
color: #ffc107;
border-color: #ffc107;
font-size: 16px;
font-family: 'Montserrat', sans-serif;
font-weight: 500;
}
.btn-outline-success:hover {
background-color: #ffc107;
border-color: #ffc107;
font-family: 'Montserrat', sans-serif;
}
.btn-story:hover{
color:black;
}
.btn:focus,
.btn.focus {
outline: 0;
box-shadow: 0 0 0 0.2rem white;
}
.btn-tbf {
color: white;
font-size: 16px;
font-family: montserrat;
background-color: #866AFB;
border-color: #866AFB;
font-weight: 500;
border-radius: 0.2rem;
font-stretch: expanded;
font-variant: all-small-caps;
@include becomes_ssf_with_serbian;
}
.btn-link{
font-weight: lighter;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
color: white;
padding-left: 0;
padding-right: 10px;
}
// images
.img-categories{
border-radius: 3px;
}
.img-categories:hover{
box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.image-story {
  max-width: 350px;
}

//bg
.bg-image {
background-image: url('.../app/assets/images/kosovo-login.jpg');
background-repeat: no-repeat;
position: absolute;
width: 100%;
margin-left: auto;
margin-right: auto;
background-size: cover;
z-index: 1;
}
.bg-light-about{
  background-image: asset_url('about.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
.bg-light-stories{
background-image: asset_url('stories.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
.bg-light-home{
background-image: asset_url('home.svg');
min-height: 400px;
background-size: cover;
}
.bg-light-recommendations{
background-image: asset_url('bg-goodgovernance.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
.bg-light-category{
background-image: asset_url('bg-measurement-category-name.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
.bg-light-hashtags{
background-image: asset_url('bg-hashtags.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}
.bg-light-started{
background-image: asset_url('bg-start.png');
  background-size: contain;
  background-position: top right;
  background-repeat: no-repeat;
}

// display
.carousel-caption {
 background-color: transparent;
 max-width: 100%;
 right: 0;
 bottom: 0;
 left: 0;
}
.no-bg{
background-color: rgba(0, 0, 0, 0.5);
margin-left: 10%;
margin-right:10%;
bottom: 25%;
}
.display-4{
max-width: 100%;
font-size: 32px;
font-family: montserrat;
}
.display-5{
max-width: 1000px;
font-size: 20px;
font-family: montserrat;
}
.display-about{
padding-left: 70px;
}
.display-story{
padding-left: 100px;
}

// login
input {
overflow: visible;
background-color: red;
color: #343a40;
font-family: montserrat;
background-color: #ffc107;
font-weight: 500;
border-radius: 1.5rem;
padding: 5px;
padding-left: 20px;
padding-right: 20px;
font-stretch: expanded;
}
label {
display: inline-block;
margin-bottom: 0.5rem;
font-family: montserrat;
font-weight: bold;
}
.login{
position: relative;
z-index: 10;
padding-bottom: 100px;
padding-top: 100px;
}
.form-signin {
width: 100%;
max-width: 420px;
padding: 15px;
margin: auto;
}
.form-label-group {
position: relative;
margin-bottom: 1rem;
}
.form-label-group > input,
.form-label-group > label {
height: 3.125rem;
padding: .75rem;
}
.form-label-group > label {
position: absolute;
top: 0;
left: 0;
display: block;
width: 100%;
margin-bottom: 0; /* Override default `<label>` margin */
line-height: 1.5;
color: #495057;
pointer-events: none;
cursor: text; /* Match the input under the label */
border: 1px solid transparent;
border-radius: .25rem;
transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
color: transparent;
}
.form-label-group input:-ms-input-placeholder {
color: transparent;
}
.form-label-group input::-ms-input-placeholder {
color: transparent;
}
.form-label-group input::-moz-placeholder {
color: transparent;
}
.form-label-group input::placeholder {
color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
padding-top: 1.25rem;
padding-bottom: .25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label {
padding-top: .25rem;
padding-bottom: .25rem;
font-size: 12px;
color: #777;
}

// masonry
.masonry{
-webkit-column-gap: 2.25rem;
-moz-column-gap: 2.25rem;
column-gap: 2rem;
}
.masonry.masonry-columns-1{
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
}
.masonry .masonry-item{
display: inline-block;
position: relative;
display: block;
padding: 3px;
background-color: #fff;
border: 1px solid #fff;
border-radius: .25rem;
float: none !important;
margin-bottom: 0 !important;
margin-bottom: 2.25rem !important;
}

.masonry .masonry-item img {
  width: 100%;
}
.masonry .masonry-item {
display: inline-block;
margin-bottom: 20px;
width: 100%;
padding: 10px;
border: 1px solid transparent;
transition: all 0.4s ease-in-out; }
.masonry .masonry-item:hover
{

}
.masonry .masonry-item .post-title {
font-size: 20px;
}
.masonry .masonry-item .post-info {
color: #999;
font-size: 12px;
font-family: montserrat;
text-transform: uppercase; }
.masonry .masonry-item p {
color: #666;
}
.masonry .masonry-item .read-more {
color: #FE466C;
font-family: montserrat;
font-weight: bold;
font-size: 14px;
  position: absolute;
  bottom: 0;
}
.masonry .masonry-item .read-more:hover {
color: #666;
font-family: montserrat;
font-size:14px;
}
.masonry .masonry-item .tag-comment {
border-top: 1px solid #f0f0f0;
margin-top: 20px;
padding: 5px 0;
color: #999;
font-size: 12px;
font-family: montserrat;
font-weight: bold;}
.masonry .masonry-item .tag-comment:hover {
color: #666;
}

// grow
.hvr-grow {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
-webkit-transition-duration: 0.3s;
transition-duration: 0.2s;
-webkit-transition-property: transform;
transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
-webkit-transform: scale(1.05);
transform: scale(1.05);
}

// underline
.hvr-underline-from-center {
display: inline-block;
vertical-align: middle;
-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);
box-shadow: 0 0 1px rgba(0, 0, 0, 0);
position: relative;
overflow: hidden;
}
.hvr-underline-from-center:before {
content: "";
position: absolute;
z-index: -1;
left: 51%;
right: 51%;
bottom: 0;
background: #FE466C;
height: 4px;
-webkit-transition-property: left, right;
transition-property: left, right;
-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;
-webkit-transition-timing-function: ease-out;
transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
left: 0;
right: 0;
}

// multiselect
.multiselect-selected-text{
font-size: 14px;
font-family: montserrat;
font-weight: 500;
font-stretch: expanded;
font-variant: all-small-caps;
border: 1px solid #e9ecef;
border-radius: 0.2rem;
padding-bottom:8px;
padding-top: 8px;
padding-left: 15px;
padding-right:15px;
@include becomes_ssf_with_serbian;
}
.multiselect{
padding-left: 0px;
}
.multiselect-container>li>a>label{
padding: 0px 15px 0px 15px !important;
width: 240px;
}

.size-16{
font-size: 16px;
}

// disclaimer
.disclaimer-footer{
font-size: 10px;
padding-right: 3rem;
padding-left: 3rem;
padding-top: 2rem;
}
.disclaimer-story{
padding-top: 10px;
font-size: 11px;
font-variant: small-caps;
font-weight: bold;
}

.btn-group, .btn-group-vertical {
position: relative;
display: inline-block;
vertical-align: middle;
}

/*--------Responsive---------*/
// masonry

@media only screen and (max-width: 480px) {
  .masonry.masonry-columns-1,
  .masonry.masonry-columns-5,
  .masonry.masonry-columns-3,
  .masonry.masonry-columns-2,
  .masonry.masonry-columns-1 {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .masonry .masonry-item {
    width: 98% !important;
    max-width: 98% !important;
  }

  // footer
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .footer-distributed {
    margin-top: 0px !important;
  }
  // text
  h1 {
    font-size: 14px !important;
    text-align: center !important;
  }
  h2 {
    font-size: 21px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 14px !important;
  }
  h5 {
    font-size: 14px !important;
    line-height: 1.5;
  }
  h6 {
    font-size: 14px !important;
    line-height: 1.5 !important;
  }
  p, ol, ul, td {
    line-height: 1.5;
    font-size: 14px !important;
  }

  .li {
    text-align: left;
  }
  .bio {
    line-height: 1.5 !important;
  }
  //column
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
    text-align: center !important;
  }
  // padding
  #image-contribute {
    margin: auto;
  }
  #image-contact {
    margin: auto;
  }
  #padding-cat {
    padding-top: 20px !important;
  }
  .pt-1 {
    padding-top: 0 !important;
  }
  .pt-2 {
    padding-top: 0 !important;
  }
  .pt-3 {
    padding-top: 20px !important;
  }
  .pt-4 {
    padding-top: 20px !important;
  }
  .pt-5 {
    padding-top: 30px !important;
  }
  .pb-1 {
    padding-bottom: 30px !important;
  }
  .pb-2 {
    padding-bottom: 30px !important;
  }
  .pb-3 {
    padding-bottom: 30px !important;
  }
  .pb-4 {
    padding-bottom: 30px !important;
  }
  .pb-5 {
    padding-bottom: 0px !important;
  }
  .pr-5 {
    padding-right: 0px !important;
  }
  .pl-4 {
    padding-left: 0px !important;
  }
  .responsive-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  // display
  .w-100 {
    width: 100% !important;
    margin-top: 30px;
  }

  .carousel {
    background-color: #ccc;
  }

  .carousel-caption {
    position: relative !important;
  }

  .display-4 {
    font-size: 18px;
    text-align: center !important;
    padding-top: 10px;
    padding-bottom: 10px !important;
  }
  .display-about {
    padding-left: 0px;
  }
  .display-story {
    padding-left: 0px;
  }
  //disclaimer
  .disclaimer {
    font-size: 8px;
  }
  .disclaimer-footer {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-top: 1rem;
  }
  //background
  .bg-light-home {
    height: 310px !important;
  }
  .bg-light-recommendations {
    height: 200px !important;
  }
  .bg-light-about {
    height: 220px !important;
  }
  .bg-light-stories {
    height: 200px !important;
  }
  .bg-light-category {
    height: 150px !important;
  }
  .bg-light-started {
    height: 150px !important;
  }
  .custom-select {
    font-size: 10px;
    font-family: montserrat;
    font-weight: 500;
    font-stretch: expanded;
    font-variant: all-small-caps;
    border: 1px solid #e9ecef;
    border-radius: 0.2rem;
    margin: -14px;
    @include becomes_ssf_with_serbian;
  }
  .gal {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
  }
  .navbar-brand {
    font-size: 0px;
  }
  .category-list-contact {
    display: none;
  }
  //text align
  .text-left {
    text-align: center !important;
  }
  .align-left {
    text-align: center !important;
  }
  .align-right {
    text-align: center !important;
  }
  .font-table {
    text-align: left;
  }
  //cards
  .card {
    text-align: center !important;
  }

  .card-read-more {
    left: 40%;
  }
  .card-img-top {
    max-width: 150px !important;
  }
  //footer
  .footer-distributed .footer-left {
    padding-left: 0px !important;
  }
  .img-footer-responsive {
    max-width: 300px;
  }
  .carousel-caption {
    font-size: 12px !important;
    padding-left: 10%;
    padding-right: 10%;
  }
  .no-bg {
    vertical-align: baseline;
  }
  .button-see {
    display: none;
  }
  .overview-tag {
    padding-top: 10px;
    cursor: pointer;
  }
  .modal-content {
    text-align: left;
  }
  .row {
    text-align: center !important;
  }
  .hvr-underline-from-center:before {
    content: "";
    background: transparent !important;
  }
  #notice {
    font-size: 16px !important;
  }
  .btn-group, .btn-group-vertical {
    display: none !important;
  }

  .recommendations-alt {
    height: auto !important;
  }
  .footer-distributed {
    img {
      width: 100%;
    }
  }

  .bg-light-about {
    background-image: none !important;
  }
  .bg-light-stories {
    background-image: none !important;
  }
  .bg-light-recommendations {
    background-image: none !important;
  }
  .bg-light-category {
    background-image: none !important;
  }
  .bg-light-hashtags {
    background-image: none !important;
  }
  .bg-light-started {
    background-image: none !important;
  }
}

fieldset legend {
  position:absolute;
  left: -5000px;
}
fieldset {
  border:0;
  padding:0;
  margin-left:0px;
}

div.modal-body p img {
  max-width:100%;
  height: auto;
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  h1{
    font-size: 17px !important;
    text-align: center !important;
  }
  .w-100{
    width: 200% !important;
  }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6 {
    text-align: center !important;
  }

  .masonry .masonry-item {

  }

  .card-read-more {
    left: 40%;
  }
}

/* Desktop */
@media (min-width: 769px) and (max-width: 992px) {
  h1{
    font-size: 20px !important;
    text-align: center !important;
  }
  .masonry .masonry-item {

  }
}

@media (min-width: 993px) and (max-width: 1279px) {
  h1{
    font-size: 21px !important;
    text-align: center !important;
  }
}

/* Huge */
@media only screen and (min-width: 1280px) {
  .carousel-item:nth-child(3) .no-bg {
    width: 800px;
  }

}

.page-link {
  color: #FE466C;
}

.page-link:hover {
  color: #FE466C;
}


.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #FE466C !important;
  border-color: #FE466C !important;
}

.well {
  display: flex;
  align-items: center;
}

.area-button {
  border: 1px solid #FE466C;
  padding-bottom: 5px;
  display: inherit;
}

#recommendationcircle {
  width: 200px;
  height: 200px;
  margin: auto;
  font-size: 50px;
  text-align: center;
  line-height: 200px;
}

#initiativecircle {
  width: 200px;
  height: 200px;
  margin: auto;
}

#actorcircle {
  width: 200px;
  height: 200px;
  margin: auto;
}

#championcircle {
  width: 200px;
  height: 200px;
  margin: auto;
}

#counters {

}

.number {
  font-size: 50px;
  text-align: center;
  line-height: 200px;
  position: absolute;
  width: 200px;
}

blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.stories-sidebar {
  .card {
    height: auto;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.story-card-carousel {
  display: flex;
}

.carousel {
  height: 100%;
  display: flex;
}

.stories-nav-next:after
{
  font-family: 'Font Awesome\ 5 Free';
  content: '\f105';
  font-size: 30px;
  color: #FE466C;
}

.stories-nav-prev:after {
  font-family: 'Font Awesome\ 5 Free';
  content: '\f104';
  font-size: 30px;
  color: #FE466C;
}

