<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title><%=t('page_title')%></title>
      <meta name="description" content="<%=t('shared.search_slide.title') %>">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <!-- CSS -->
      <% begin %>
      <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => 'reload', media: 'all' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
      <% rescue %>
      <script>
         window.location.replace "#{user_session_url()}"
      </script>
      <% end %>
      <link rel="shortcut icon" href="/images/favicon.ico">
      <link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    

      <script type="text/javascript">
         I18n.defaultLocale = "<%= I18n.default_locale %>";
         I18n.locale = "<%= I18n.locale %>";
      </script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144579620-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-144579620-1');
      </script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
      <% if controller_name == 'stories' && controller.action_name == 'show' %>
       <meta property="og:url"                content="<%= request.original_url %>" />
       <meta property="og:type"               content="article" />
       <meta property="og:title"              content="<%= @story.title %>" />
       <meta property="og:description"        content="" />
       <meta property="og:image"              content="<% if @story.gallery.attached? %><%= polymorphic_url(@story.gallery.last) %><% elsif @story.picture.attached? %><%= polymorphic_url(@story.picture) %><% end %>" />
      <% end %>
   </head>
   <body>
      <%= render 'shared/header' %>
      <%= yield %>
      <%= render 'shared/footer' %>
   </body>
</html>
