<!DOCTYPE html>
<!-- HTML -->
<html>
<!-- HEAD -->
<head>
<!-- TITLE -->
    <title>Kosovo Trust Building </title>
<!-- META -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
<!-- CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application_masonry', 'data-turbolinks-track': 'reload' %>
</head>
<!-- END HEAD -->
<!-- BODY -->
<body>
<%= yield %>
</body>
<!-- END BODY -->
</html>
<!-- END HTML -->
